:root {
  --font-family-vodafone: Vodafone;
  --font-family-fallback: Arial;
  --font-weight-vodafone-regular: Regular;
  --font-weight-vodafone-bold: Bold;
  --font-weight-vodafone-semibold: SemiBold;
  --font-weight-vodafone-medium: Medium;
  --font-weight-vodafone-book: Book;
  --font-weight-vodafone-light: Light;
  --font-weight-vodafone-extrabold: ExtraBold;
  --font-weight-bold: bold;
  --font-size-100: 4;
  --font-size-300: 12;
  --font-size-350: 14;
  --font-size-400: 16;
  --font-size-450: 18;
  --font-size-500: 20;
  --font-size-600: 24;
  --font-size-700: 28;
  --font-size-800: 32;
  --font-size-900: 36;
  --font-size-1000: 40;
  --font-size-1200: 48;
  --font-size-1400: 56;
  --font-size-1600: 64;
  --line-heights-400: 16;
  --line-heights-500: 20px;
  --line-heights-600: 24;
  --line-heights-700: 28;
  --line-heights-800: 32;
  --line-heights-900: 36;
  --line-heights-1000: 40;
  --line-heights-1100: 44;
  --line-heights-1200: 48;
  --line-heights-1400: 56;
  --line-heights-1600: 64;
  --line-heights-1800: 72;
  --heading-small-display-H1: [object Object];
  }
