.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 150px;
  height: 50px;
  color: white;
}
.storybook-button--primary--default {
  background-color: #E60000;
}
.stoyrbook-button--primary--default:hover {
  background-color: #BD0000;
}
.storybook-button--primary--hover {
  background-color: #BD0000;
}
.storybook-button--primary--pressed {
  background-color: #990000;
}
.storybook-button--primary--disabled {
  color: #666666;
  background-color: #CCCCCC;
}
.storybook-button--primary--focused {
  background-color: #E60000;
}
.storybook-button--secondary--default {
  background-color: #333333;
}
.storybook-button--secondary--hover {
  background-color: #666666;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
