@import '../tokens.css';

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: 2px solid transparent; 
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 150px;
  height: 50px;
  color: white;
}

@media screen and (max-width: 767px) {
  .storybook-button {
    width: 328px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .storybook-button {
    width: 150px;
    height: 50px;
  }
}

/* PRIMARY BUTTONS DYNAMIC STATES */
.storybook-button--primary--default:hover {
  background-color: #BD0000;  
}
.storybook-button--primary--default:focus {
  background-color: #E60000;
  border-color: #007C92;
}
.storybook-button--primary--default:active {
  background-color: #990000;
  border-color: transparent;
}

/* PRIMARY BUTTONS STATIC STATES */
.storybook-button--primary--default {
  background-color: var(--color-background-action-primary); 
}

.stoyrbook-button--primary--default:hover { /* check if necessary */
  background-color: var(--color-background-action-primary-hover);
}

.storybook-button--primary--hover {
  background-color: var(--color-background-action-primary-hover);
}
.storybook-button--primary--pressed {
  background-color: var(--color-background-action-primary-pressed);
}
.storybook-button--primary--disabled {
  color: #666666;
  background-color: #CCCCCC;
}
.storybook-button--primary--focused {
  background-color: #E60000;
  border-color: #007c92;
}

/* SECONDARY BUTTONS DYNAMIC STATES */
.storybook-button--secondary--default:hover {
  background-color: #969696;  
}
.storybook-button--secondary--default:focus {
  background-color: #333333;
  border-color: #007c92; 
}
.storybook-button--secondary--default:active {
  background-color: #25282b;
  border-color: transparent;
}

/* SECONDARY BUTTONS STATIC STATES */
.storybook-button--secondary--default {
  background-color: #333333;
}
.storybook-button--secondary--hover {
  background-color: #969696; 
}
.storybook-button--secondary--pressed {
  background-color: #25282b;  
}
.storybook-button--secondary--disabled {
  color: #666666;
  background-color: #cccccc;
}
.storybook-button--secondary--focused {
  background-color: #333333;
  border-color: #007c92;  
}

/* TERTIARY BUTTONS DYNAMIC STATES */
.storybook-button--tertiary--default:hover {
  background-color: #f4f4f4;
  border-color: #333333; 
  color: #333333;
}
.storybook-button--tertiary--default:focus {
  background-color: #f9f9f9;
  border-color: #17869a;
  color: #333333;
}
.storybook-button--tertiary--default:active {
  background-color: #939393;
  border-color: #333333;
  color: #333333; 
}

/* TERTIARY BUTTONS STATIC STATES*/
.storybook-button--tertiary--default {
  background-color: #f9f9f9;
  border-color: #939393;  
  color: #333333;
}
.storybook-button--tertiary--hover {
  background-color: #f4f4f4;
  border-color: #333333; 
  color: #333333;
}
.storybook-button--tertiary--pressed {
  background-color: #939393;
  border-color: #333333;
  color: #333333; 
}
.storybook-button--tertiary--disabled {
  background-color: #cccccc;
  border-color: #666666;
  color: #666666;
}
.storybook-button--tertiary--focused {
  background-color: #f9f9f9;
  border-color: #17869a;
  color: #333333;
}

/* TERTIARY TRANSPARAENT BUTTONS ??? */

/* SUCCESS BUTTONS DYNAMIC STATES */
.storybook-button--success--default:hover {
  background-color: #666666;
}
.storybook-button--success--default:focus {
  background-color: #333333;
  border-color: #007c92; 
}
.storybook-button--success--default:active {
  background-color: #008a00; 
  border-color: transparent;
}

/* SUCCESS BUTTONS STATIC STATES */
.storybook-button--success--default {
  background-color: #414141; 
}
.storybook-button--success--hover {
  background-color: #666666;  
}
.storybook-button--success--pressed {
  background-color: #008a00;  
}
.storybook-button--success--disabled {
  background-color: #c6c6c6; 
}
.storybook-button--success--focused {
  background-color: #333333;
  border-color: #007c92; 
}

/* SIZE OF BUTTONS */
.storybook-button--small {
  padding: 10px 16px;
}
.storybook-button--large {
  padding: 12px 24px;
  width: 300px;
}
