@import '../tokens.css';

/*
@media screen and (max-width: 767px) {
  .storybook-button {
    width: 328px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .storybook-button {
    width: 150px;
    height: 50px;
  }
} */

@font-face {
  font-family: 'Vodafone';
    src: url('../fonts/Vodafone_SBd_W.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Vodafone_SBd_W.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Vodafone_SBd_W.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Vodafone_SBd_W.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Vodafone_SBd.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 600;
    font-style: normal;
}


.storybook-button {
  cursor: pointer;

  /* TYPOGRAPHY */
  font-family: 'Vodafone';
  /*font-size: 20px;*/
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  letter-spacing: 0;
  
  /* BORDER */
  border: solid transparent; 
  border-radius: var(--button-radius-default, 8px);

  /* LAYOUT */
  display: flex;
  min-width: 150px;
  padding: var(--button-padding-top, 12px) var(--button-padding-right, 24px) var(--button-padding-bottom, 12px) var(--button-padding-left, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PRIMARY BUTTONS DYNAMIC STATES */
.storybook-button--primary--default:hover {
  background-color: var(--color-light-brand-600);
  color: var(--color-monochrome-white);
}
.storybook-button--primary--default:focus {
  align-self: stretch;
  border: none;
  background-color: var(--color-light-brand-600);
  color: var(--color-monochrome-white);
  outline: 2px solid var(--color-light-aqua-blue-400);
  outline-offset: 2px;
}
.storybook-button--primary--default:active {
  background-color: var(--color-light-brand-700);
  color: var(--color-monochrome-white);
  outline: none;
}

/* PRIMARY BUTTONS STATIC STATES */
.storybook-button--primary--default {
  background-color: var(--color-light-brand-500);
  color: var(--color-monochrome-white);
  /*color: #ff6666; -- ACCESSIBILITY VIOLATION DEMO EXAMPLE */ 
}

.storybook-button--primary--hover {
  background-color: var(--color-light-brand-600);
  color: var(--color-monochrome-white);
}
.storybook-button--primary--pressed {
  background-color: var(--color-light-brand-700);
  color: var(--color-monochrome-white);
}
.storybook-button--primary--disabled {
  background-color: var(--color-light-brand-500);
  opacity: 0.38;
  color: var(--color-monochrome-white);
}
.storybook-button--primary--focused {
  align-self: stretch;
  border: none;
  background-color: var(--color-light-brand-600);
  color: var(--color-monochrome-white);
  outline: 2px solid var(--color-light-aqua-blue-400);
  outline-offset: 2px;
}

/* PRIMARY BUTTONS DYNAMIC INVERSE STATES */
.storybook-button--primary--default:hover.button-inverse {
  background: var(--button-primary-color-surface-hover-inverse, #D9D9D9);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
}
.storybook-button--primary--default:focus.button-inverse {
  align-self: stretch;
  border: none;
  background: var(--button-primary-color-surface-hover-inverse, #D9D9D9);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
  outline: 2px solid var(--color-border-contrast, #FFF);
  outline-offset: 2px;
}
.storybook-button--primary--default:active.button-inverse {
  background: var(--button-primary-color-surface-pressed-inverse, #B3B3B3);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
  outline: transparent;
}

/* PRIMARY BUTTONS STATIC INVERSE STATES */
.storybook-button--primary--default.button-inverse {
  background: var(--button-primary-color-surface-inverse, #FFF);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
}
.storybook-button--primary--hover.button-inverse {
  background: var(--button-primary-color-surface-hover-inverse, #D9D9D9);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
}
.storybook-button--primary--pressed.button-inverse {
  background: var(--button-primary-color-surface-pressed-inverse, #B3B3B3);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
}
.storybook-button--primary--disabled.button-inverse {
  background: var(--button-primary-color-surface-inverse, #FFF);
  opacity: 0.38;
  color: var(--button-primary-color-content-inverse, #0D0D0D);
}
.storybook-button--primary--focused.button-inverse {
  align-self: stretch;
  border: none;
  background: var(--button-primary-color-surface-hover-inverse, #D9D9D9);
  color: var(--button-primary-color-content-inverse, #0D0D0D);
  outline: 2px solid var(--color-border-contrast, #FFF);
  outline-offset: 2px;
}


/* SECONDARY BUTTONS DYNAMIC STATES */
.storybook-button--secondary--default:hover {
  background: var(--color-monochrome-850);
  color: var(--color-monochrome-white);
}
.storybook-button--secondary--default:focus {
  align-self: stretch;
  border: none;
  background: var(--color-monochrome-850);
  color: var(--color-monochrome-white);
  outline: 2px solid var(--color-light-aqua-blue-400);
  outline-offset: 2px;
}
.storybook-button--secondary--default:active {
  background: var(--color-monochrome-650);
  color: var(--color-monochrome-white);
  outline: none;
}

/* SECONDARY BUTTONS STATIC STATES */
.storybook-button--secondary--default {
  background: var(--color-monochrome-950);
  color: var(--color-monochrome-white);
}
.storybook-button--secondary--hover {
  background: var(--color-monochrome-850);
  color: var(--color-monochrome-white);
}
.storybook-button--secondary--pressed {
  background: var(--color-monochrome-650);
  color: var(--color-monochrome-white);
}
.storybook-button--secondary--disabled {
  background: var(--color-monochrome-950);
  color: var(--color-monochrome-white);
  opacity: 0.38;
}
.storybook-button--secondary--focused {
  align-self: stretch;
  border: none;
  background: var(--color-monochrome-850);
  color: var(--color-monochrome-white);
  outline: 2px solid var(--color-light-aqua-blue-400);
  outline-offset: 2px;
}

/* SECONDARY BUTTONS DYNAMIC INVERSE STATES */
.storybook-button--secondary--default:hover.button-inverse {
  background: var(--button-secondary-color-surface-hover-inverse, #D9D9D9);
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
}
.storybook-button--secondary--default:focus.button-inverse {
  align-self: stretch;
  border: none;
  background: var(--button-secondary-color-surface-hover-inverse, #D9D9D9);  
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
  outline:  2px solid var(--color-border-contrast, #FFF);
  outline-offset: 2px;
}
.storybook-button--secondary--default:active.button-inverse {
  background: var(--button-secondary-color-surface-pressed-inverse, #B3B3B3);
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
  outline: none;
}

/* SECONDARY BUTTONS STATIC INVERSE STATES */
.storybook-button--secondary--default.button-inverse {
  background: var(--button-secondary-color-surface-inverse, #FFF);
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
}
.storybook-button--secondary--hover.button-inverse {
  background: var(--button-secondary-color-surface-hover-inverse, #D9D9D9);
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
}
.storybook-button--secondary--pressed.button-inverse {
  background: var(--button-secondary-color-surface-pressed-inverse, #B3B3B3);
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
}
.storybook-button--secondary--disabled.button-inverse {
  background: var(--button-secondary-color-surface-inverse, #FFF);
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
  opacity: 0.38;
}
.storybook-button--secondary--focused.button-inverse {
  align-self: stretch;
  border: none;
  background: var(--button-secondary-color-surface-hover-inverse, #D9D9D9);  
  color: var(--button-secondary-color-content-inverse, #0D0D0D);
  outline:  2px solid var(--color-border-contrast, #FFF);
  outline-offset: 2px;
}

/* TERTIARY BUTTONS DYNAMIC STATES */
.storybook-button--tertiary--default:hover {
  border: 1px solid var(--color-monochrome-950);
  background: var(--transparency-monochrome-150);
  color: var(--color-monochrome-950);
}
.storybook-button--tertiary--default:focus {
  align-self: stretch;

  background-color: var(--transparency-monochrome-300);
  color: var(--color-monochrome-950);
  padding: 2px;
  border: 1px solid var(--color-monochrome-950);
  outline: 2px solid var(--color-light-aqua-blue-400);
  outline-offset: 2px;
}
.storybook-button--tertiary--default:active {
  background: var(--transparency-monochrome-300);
  border: 1px solid var(--color-monochrome-950);  
  color: var(--color-monochrome-950);
  outline: transparent;
}

/* TERTIARY BUTTONS STATIC STATES */
.storybook-button--tertiary--default {
  background-color: transparent;
  border: 1px solid var(--color-monochrome-950);  
  color: var(--color-monochrome-950);
}
.storybook-button--tertiary--hover {
  border: 1px solid var(--color-monochrome-950);
  background: var(--transparency-monochrome-150);
  color: var(--color-monochrome-950);
}
.storybook-button--tertiary--pressed {
  background: var(--transparency-monochrome-300);
  border: 1px solid var(--color-monochrome-950);  
  color: var(--color-monochrome-950);
}
.storybook-button--tertiary--disabled {
  background-color: transparent;
  border: 1px solid var(--color-monochrome-950);  
  color: var(--color-monochrome-950);
  opacity: 0.38;
}
.storybook-button--tertiary--focused {
  align-self: stretch;
  background-color: var(--transparency-monochrome-300);
  color: var(--color-monochrome-950);
  padding: 2px;
  border: 1px solid var(--color-monochrome-950);
  outline: 2px solid var(--color-light-aqua-blue-400);
  outline-offset: 2px;
}

/* TERTIARY BUTTONS DYNAMIC INVERSE STATES */
.storybook-button--tertiary--default:hover.button-inverse {
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  background: var(--button-tertiary-color-surface-hover-inverse, rgba(255, 255, 255, 0.15));
  border-color: transparent; 
  color: var(--color-monochrome-white); 
}
.storybook-button--tertiary--default:focus.button-inverse {
  align-self: stretch;
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  background: var(--button-tertiary-color-surface-hover-inverse, rgba(255, 255, 255, 0.15));
  outline: 2px solid var(--color-border-contrast, #FFF);
  outline-offset: 2px;
  color: var(--button-tertiary-color-content-inverse, #FFF);
}
.storybook-button--tertiary--default:active.button-inverse {
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  background: var(--button-tertiary-color-surface-pressed-inverse, rgba(255, 255, 255, 0.30));
  color: var(--color-monochrome-white);
  outline: none;
}

/* TERTIARY BUTTONS STATIC INVERSE STATES */
.storybook-button--tertiary--default.button-inverse {
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  color: var(--color-monochrome-white);
}
.storybook-button--tertiary--hover.button-inverse {
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  background: var(--button-tertiary-color-surface-hover-inverse, rgba(255, 255, 255, 0.15)); 
  color: var(--color-monochrome-white); 
}
.storybook-button--tertiary--pressed.button-inverse { 
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  background: var(--button-tertiary-color-surface-pressed-inverse, rgba(255, 255, 255, 0.30));
  color: var(--color-monochrome-white);
}
.storybook-button--tertiary--disabled.button-inverse {
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  opacity: 0.38;
  background: none;
  color: var(--button-tertiary-color-content-inverse, #FFF);
}
.storybook-button--tertiary--focused.button-inverse { 
  align-self: stretch;
  border: 1px solid var(--button-tertiary-color-border-inverse, #FFF);
  background: var(--button-tertiary-color-surface-hover-inverse, rgba(255, 255, 255, 0.15));
  outline: 2px solid var(--color-border-contrast, #FFF);
  outline-offset: 2px;
  color: var(--button-tertiary-color-content-inverse, #FFF);
}


/* LINK BUTTONS DYNAMIC STATES */
.storybook-button--link--default:hover {
  background: none;
  border: none;
  color: var(--color-light-brand-600);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--default:focus {
  background: none;
  padding: 0px 2px;
  border: 2px solid var(--color-light-aqua-blue-400);;
  color: var(--color-light-brand-600);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--default:active {
  background: none;
  border: none;
  color: var(--color-light-brand-700);
  text-decoration: underline; 
  text-underline-position: under; 
}

/* LINK BUTTONS STATIC STATES */
.storybook-button--link--default {
  background: none;
  border: none;
  color: var(--color-monochrome-950);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--hover {
  background: none;
  border: none;
  color: var(--color-light-brand-600);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--pressed {
  background: none;
  border: none;
  color: var(--color-light-brand-700);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--disabled {
  background: none;
  border: none;
  color: var(--color-monochrome-950);
  opacity: 0.38;
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--focused {
  background: none;
  padding: 0px 2px;
  border: 2px solid var(--color-light-aqua-blue-400);
  color: var(--color-light-brand-600);
  text-decoration: underline; 
  text-underline-position: under;
}

/* SUCCESS BUTTONS DYNAMIC INVERSE STATES */
.storybook-button--link--default:hover.button-inverse {
  background: none;
  border: none;
  color: var(--color-monochrome-white);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--default:focus.button-inverse {
  background: none;
  padding: 0px 2px;
  border: 2px solid var(--color-monochrome-white);
  color: var(--color-monochrome-white);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--default:active.button-inverse {
  background: none;
  border: none;
  color: var(--color-monochrome-white);
  text-decoration: underline; 
  text-underline-position: under;
}

/* SUCCESS BUTTONS STATIC INVERSE STATES */
.storybook-button--link--default.button-inverse {
  background: none;
  border: none;
  color: var(--color-monochrome-white);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--hover.button-inverse {
  background: none;
  border: none;
  color: var(--color-monochrome-white);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--pressed.button-inverse {
  background: none;
  border: none;
  color: var(--color-monochrome-white);
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--disabled.button-inverse {
  background: none;
  border: none;
  color: var(--color-monochrome-white);
  opacity: 0.38;
  text-decoration: underline; 
  text-underline-position: under;
}
.storybook-button--link--focused.button-inverse {
  align-self: stretch;
  background: none;
  padding: 0px 2px;
  border: 2px solid var(--color-border-contrast, #FFF);
  color: var(--color-content-contrast, #FFF);
  text-decoration: underline; 
  text-underline-position: under;
}


/* SIZE OF BUTTONS */
.storybook-button--small {
  width: 328px;
  height: 44px;
}
.storybook-button--large {
  width: 150px;
  height: 48px;
}
