font-face {
  font-family: Vodafone;
  src: url(../fonts/Vodafone_Rg_W.woff);
}

/* CREATE CHECK CONTAINER */
.checkContainer {
  font-family: Vodafone;
  font-size: 16px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: block;
  position: relative;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkText {
  font-family: Vodafone;
  font-size: 16px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 400;
}

/* HIDE BROWSER'S DEFAULT CHECKBOX */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* CREATE CUSTOM CHECKBOX */
.checkboxMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #BEBEBE;
}

/* STYLE FOR HOVER STATE */
.checkContainer:hover input ~ .checkboxMark {
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(13, 13, 13, 0.15);
}

.checkboxMark--Hover {
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(13, 13, 13, 0.15);
}

/* STYLE FOR CHECKED STATE */
.checkContainer input:Checked ~ .checkboxMark {
  background-color: rgba(0, 105, 124, 1);
  border: 1px solid rgba(0, 105, 124, 1);
}

/* STYLE FOR FOCUS STATE */
.checkContainer input:focus ~ .checkboxMark {
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(0, 150, 173, 1);
}

.checkboxMark--Focus {
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(0, 150, 173, 1);
}

/* STYLE FOR DISABLED STATE */
.checkContainer input:disabled ~ .checkboxMark {
  opacity: 0.38;
}

/* STYLE FOR ERROR STATE */
.checkboxMark--Error {
  border: 1px solid rgba(189, 0, 0, 1);
}

/* CREATE checkboxMark/INDICATOR (HIDDEN WHEN NOT CHECKED) */
.checkboxMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* SHOW checkboxMark WHEN CHECKED */
.checkContainer input:checked ~ .checkboxMark:after {
  display: block;
}

/* STYLE checkboxMark/INDICATOR */
.image-icon {
  display: block;
  margin: auto;
  margin-top: 25%;
}