font-face {
    font-family: Vodafone;
    src: url(../fonts/Vodafone_Rg_W.woff);
}

.chip {
    display: flex;
    align-items: center;
    min-width: 100px;
    background-color: white;
    padding: 12px 24px;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    border-radius: 999px;
    font-family: Vodafone;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.chip--Small {
    min-width: 100px;
    font-size: 18px;
    line-height: 20px;
}

.chip--Hover {
    background-color: #0D0D0D26;
}

.chip:hover {
    background-color: #0D0D0D26;
}

.chip--Focus {
    background-color: #0D0D0D26;
    border: 2px solid white;
    outline: 2px solid #0096AD; 
}

.chip:focus {
    background-color: #0D0D0D26;
    border: 2px solid white;
    outline: 2px solid #0096AD; 
}

.chip--Pressed {
    color: white;
    background-color: #E60000;
    min-width: 100px;
    background-image: url(./assets/Icon_white2.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.chip--Pressed--Small {
    min-width: 100px;
    background-size: 20px;
    background-position: right 24px center;    
}

.chip:active {
  color: white;
  background-color: #E60000;
  width: 125px;
  background-image: url(./assets/Icon_white2.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 50%;
  outline: none;
}

.chip--Small:active {
    color: white;
    background-color: #E60000;
    background-image: url(./assets/Icon_white2.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 80%;
    background-position-y: 50%;
    width: 117px;
    outline: none;
}

.chipHeading {
    font-family: Vodafone;
    font-size: 16px;
    padding-bottom: 16px;
}