@font-face {
  font-family: 'Vodafone';
    src: url('../fonts/Vodafone_Rg_W.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Vodafone_Rg_W.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Vodafone_Rg_W.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Vodafone_Rg_W.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Vodafone_Rg.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 600;
    font-style: normal;
}

.dropContainer {
  font-family: 'Vodafone';
  font-size: 18px;
  display: inline-block;
  position: relative;
}
  
.dropTextfield {
  font-family: 'Vodafone';
  font-size: 18px;
  line-height: 24px;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 6px;
  padding: 0px 16px 0px 16px;
  width: 480px;
  height: 48px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 0px;
}

.dropTextfield--Large {
  width: 480px;
  height: 48px;
}

.dropTextfield--Small {
  width: 328px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .dropTextfield {
    width: 328px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .dropTextfield {
    width: 480px;
    height: 48px;
  }
}

.selectedOption {
  display: flex;
  align-items: center;
  height: 100%;
}

.dropTextfield-Active {
  border: 2px solid #00B0CA;
  background-color: white;
  border-radius: 6px 6px 0 0;
  padding: 0px 16px 0px 16px;
  width: fill;
  height: 50px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
    /* Remove default arrow and style a custom one */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tooltip-icon {
  position: absolute;
  right: 16px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon {
  position: absolute;
  justify-self: end;
  right: 56px;
  top: 70%;
  transform: translateY(-50%);
}

.icon-HideTooltip {
  position: absolute;
  justify-self: end;
  right: 16px;
  top: 70%;
  transform: translateY(-50%);
}

  /* Style the dropdown options */
.dropOptions {
  position: absolute;
  display: none;
  width: fill;
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  padding-bottom: 16px;
  margin-top: 0;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.10), 0px 3px 2px 0px rgba(0, 0, 0, 0.06), 0px 6px 2px 0px rgba(0, 0, 0, 0.02), 0px 10px 3px 0px rgba(0, 0, 0, 0.00);
}
  
  /* Style the individual options */
.dropOption {
  font-family: 'Vodafone';
  font-size: 18px;
  color: rgba(13, 13, 13, 1);
  font-size: 16px;
  margin-left: -40px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 20px;
  display: block;
}
  
  /* Style the options on hover */
.dropOption:hover {
  background-color: rgba(13, 13, 13, 0.15);
}

.dropTextfield:focus .dropdown-options {
  position: absolute;
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 6px 6px;
  z-index: 1;
  margin: 16px;
}

.dropTextfield-Error {
  background-color: white;
  border: 2px solid #BD0000;
  border-radius: 6px;
  padding: 0px 16px 0px 16px;
  width: fill;
  height: 50px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  /* Remove default arrow and style a custom one */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.errorText {
  color: rgba(189, 0, 0, 1);
  font-family: 'Vodafone';
  font-size: 14px;
  margin-top: 12px;
  line-height: 20px;
}

.supportText {
  color: #0D0D0D;
  font-family: 'Vodafone';
  font-size: 14px;
  margin-top: 12px;
  line-height: 20px;
}