@font-face {
    font-family: 'Vodafone';
      src: url('../fonts/Vodafone_Rg_W.eot'); /* IE9 Compat Modes */
      src: url('../fonts/Vodafone_Rg_W.eot') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Vodafone_Rg_W.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Vodafone_Rg_W.woff') format('woff'), /* Pretty Modern Browsers */
          url('../fonts/Vodafone_Rg.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight: 600;
      font-style: normal;
  }

.link {
    font-family: 'Vodafone';
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
    display: flex;
    align-items: center;
    border: none;
}

.link:focus {
    color: rgba(195, 0, 0, 1);
    border: 2px solid rgba(0, 150, 173, 1);
    border-radius: 4px;
    padding: 2px;
}

.link--Large {
    font-size: 18px;
}

.link--Small {
    font-size: 16px;
}

.link--Pressed {
    color: rgba(195, 0, 0, 1);
}

.link--Focused {
    color: rgba(195, 0, 0, 1);
    border: 2px solid rgba(0, 150, 173, 1);
    border-radius: 4px;
    padding: 2px;
}

.link--Disabled {
    color: rgba(195, 0, 0, 1);
    opacity: 38%;
}