@font-face {
    font-family: Vodafone;
    src: url(../fonts/Vodafone_Rg_W.woff);
}

@font-face {
    font-family: Vodafone;
    src: url(../fonts/Vodafone_Bd_W.woff);
    font-weight: bold;
}

.link {
    font-family: Vodafone;
    font-size: 20px;
    color: rgba(13, 13, 13, 1);
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.link:hover {
    color: rgba(13, 13, 13, 1);
}

.link:focus {
    color: rgba(195, 0, 0, 1);
    border: 2px solid rgba(0, 150, 173, 1);
    border-radius: 4px;
    padding: 2px;
}

.link:active {
    color: rgba(195, 0, 0, 1);
    border: transparent;
}

.link--Large {
    font-size: 18px;
}

.link--Small {
    font-size: 16px;
}

.link--Pressed {
    color: rgba(195, 0, 0, 1);
}

.link--Focused {
    color: rgba(195, 0, 0, 1);
    border: 2px solid rgba(0, 150, 173, 1);
    border-radius: 4px;
    padding: 2px;
}

.link--Disabled {
    opacity: 38%;
}

@media screen and (max-width: 360px) {
    .link--Large {
        font-size: 16px;
    }
    .link--Small {
        font-size: 16px;
    }
}