@font-face {
    font-family: 'Vodafone';
      src: url('../fonts/Vodafone_SBd_W.eot'); /* IE9 Compat Modes */
      src: url('../fonts/Vodafone_SBd_W.eot') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Vodafone_SBd_W.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Vodafone_SBd_W.woff') format('woff'), /* Pretty Modern Browsers */
          url('../fonts/Vodafone_SBd.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight: 600;
      font-style: normal;
  }

.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: 'Vodafone';
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.containerInline {
    display: inline-block;
    margin-right: 10px;
}
  
  /* HIDE THE BROWSER'S DEFAULT RADIO BUTTON */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* CREATE A CUSTOM RADIO BUTTON */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #BEBEBE;
}

.checkmarkInverse {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 100%;
    border: 1px solid white;
}

/* ON MOUSE-OVER, ADD A GREY BACKGROUND COLOR */
.container:hover input ~ .checkmark {
    background-color: white;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-left: 0px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    border: 2px solid #BEBEBE;
}

.checkmark--hover {
    background-color: white;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-left: 0px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    border: 2px solid #BEBEBE;
}

  /* WHEN THE RADIO BUTTON IS CHECKED, ADD A BLUE BACKGROUND */
.container input:checked ~ .checkmark {
    background-color: white;
    border-color: #00697C;
}

.container input:checked ~ .checkmarkInverse {
    border-color: #0096AD;
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkInverse:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* SHOW THE INDICATOR (DOT/CIRCLE) WHEN CHECKED */
.container input:checked ~ .checkmark:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container input:checked ~ .checkmarkInverse:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* STYLE THE INDICATOR (DOT/CIRCLE) */
.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #0096AD;
}

.container .checkmarkInverse:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #00697C;
}

/* STYLE FOR FOCUS STATE */
.container input:focus ~ .checkmark {
    top: 0;
    left: 0;
    border: 2px solid #0096AD;
}

.checkmark--focus {
    top: 0;
    left: 0;
    border: 2px solid #0096AD;
}

/* STYLE FOR DISABLED STATE */
.container input:disabled ~ .checkmark {
    background-color: transparent;
    border-color: #BEBEBE61;
    cursor: not-allowed;
}
.container input:disabled:checked ~ .checkmark {
    background-color: transparent;
    border-color: #BEBEBE61;
}
.container input:disabled ~ .checkmark:after {
    display: none;
}