@font-face {
    font-family: 'Vodafone';
      src: url('../fonts/Vodafone_SBd_W.eot'); /* IE9 Compat Modes */
      src: url('../fonts/Vodafone_SBd_W.eot') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Vodafone_SBd_W.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Vodafone_SBd_W.woff') format('woff'), /* Pretty Modern Browsers */
          url('../fonts/Vodafone_SBd.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight: 600;
      font-style: normal;
  }

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: 'Vodafone';
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.containerInline {
    display: inline-block;
    margin-right: 10px;
}
  
  /* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    opacity: 0.2;
    border: 4px solid #0D0D0D26;
  }

  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
    border-color: #00697C;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #00697C;
}

.container input:disabled + .checkmark + span {
    opacity: 1;
  }