font-face {
    font-family: Vodafone;
    src: url(../fonts/Vodafone_Rg_W.woff);
  }
  
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: Vodafone;
    font-size: 18px;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* HIDE THE BROWSER'S DEFAULT RADIO BUTTON */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* CREATE A CUSTOM RADIO BUTTON */
.checkmark {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #BEBEBE;
}

.checkmarkInverse {
    position: absolute;
    left: 0;
    margin-left: 2px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 100%;
    border: 1px solid white;
}

/* STYLE FOR HOVER STATE */
.container:hover input ~ .checkmark {
    outline: 4px solid rgba(13, 13, 13, 0.15);
}

.checkmark--Hover {
    outline: 4px solid rgba(13, 13, 13, 0.15);
}

  /* WHEN THE RADIO BUTTON IS CHECKED, ADD A BLUE BACKGROUND */
.container input:checked ~ .checkmark {
    background-color: white;
    border-color: #00697C;
}

.container input:checked ~ .checkmarkInverse {
    border-color: #0096AD;
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkInverse:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* SHOW THE INDICATOR (DOT/CIRCLE) WHEN CHECKED */
.container input:checked ~ .checkmark:after {
    display: block;
}

.container input:checked ~ .checkmarkInverse:after {
    display: block;
}

/* STYLE THE INDICATOR (DOT/CIRCLE) */
.container .checkmark:after {
    top: 3.2px;
    left: 3.2px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #0096AD;
}

.container .checkmarkInverse:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #00697C;
}

/* STYLE FOR FOCUS STATE */
.container input:focus ~ .checkmark {
    outline-width: 4px;
    outline-style: solid;
    outline-color: rgba(0, 150, 173, 1);
}

.checkmark--Focus {
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgba(0, 150, 173, 1);
}

/* STYLE FOR DISABLED STATE */
.container input:disabled ~ .checkmark {
    background-color: transparent;
    border-color: #BEBEBE61;
    cursor: not-allowed;
}
.container input:disabled:checked ~ .checkmark {
    background-color: transparent;
    border-color: #BEBEBE61;
}
.container input:disabled ~ .checkmark:after {
    display: none;
}