.list-item {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 3rem;
    width: 100%;
    background: white;
    transition: all ease-out 150ms;
}

.list-item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}
  
.list-item input[type="text"] {
    background: transparent;
    width: 100%;
}
  
.list-item input[type="text"]:focus {
    cursor: text;
}

.list-item.TASK_PINNED .icon-star {
    color: #2cc5d2;
}
  
.list-item.TASK_ARCHIVED input[type="text"] {
    color: #a0aec0;
    text-decoration: line-through;
}
  
.list-item:hover {
    background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
}
  
.list-item:hover .checkbox {
    cursor: pointer;
  }
  
.list-item + .list-item {
    border-top: 1px solid #f0f9fb;
}
  
.list-item.checked input[type="text"] {
    color: #ccc;
    text-decoration: line-through;
}
  
.list-item.checked .delete-item {
    display: inline-block;
}

.checkbox {
    display: inline-block;
    height: 3rem;
    position: relative;
    vertical-align: middle;
    width: 44px;
}
  
.checkbox input[type="checkbox"] {
    font-size: 1em;
    visibility: hidden;
}
  
.checkbox input[type="checkbox"] + span:before {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 0.85em;
    height: 0.85em;
    transform: translate3d(-50%, -50%, 0);
    background: transparent;
    box-shadow: #2cc5d2 0 0 0 1px inset;
    content: "";
    display: block;
}
  
.checkbox input[type="checkbox"]:checked + span:before {
    font-size: 16px;
    line-height: 24px;
    box-shadow: none;
    color: #2cc5d2;
    margin-top: -1px;
    font-family: "percolate";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    content: "\e65e";
}

.pin-button {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    text-align: center;
    transition: all 200ms ease-in;
    color: #eee;
    font-size: 16px;
    line-height: 3rem;
    outline: none;
}
  
.pin-button:hover {
    color: #2cc5d2;
}
.pin-button:focus {
    outline-color: transparent;
}
  
.pin-button:active {
    color: #555;
}

input[type="text"] {
    border: none;        /* Remove border */
    background: none;    /* Remove background */
    outline: none;       /* Remove outline (focus indicator) */
}

.title {
    color: black;
    padding-left: 5px;
    
}

.checkbox {
    display: inline-block;
    height: 3rem;
    position: relative;
    vertical-align: middle;
    width: 44px;
}
  
.checkbox input[type="checkbox"] {
    font-size: 1em;
    visibility: hidden;
}
  
.checkbox input[type="checkbox"] + span:before {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 0.85em;
    height: 0.85em;
    transform: translate3d(-50%, -50%, 0);
    background: transparent;
    box-shadow: #2cc5d2 0 0 0 1px inset;
    content: "";
    display: block;
}
  
.checkbox input[type="checkbox"]:checked + span:before {
    font-size: 16px;
    line-height: 24px;
    box-shadow: none;
    color: #2cc5d2;
    margin-top: -1px;
    font-family: "percolate";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    content: "\e65e";
}