:root {
  /* Light */
  /* colors */
  --color-randomname-brand: var(--color-light-brand-500);
  --color-background-primary: var(--color-monochrome-005);
  --color-background-secondary: var(--color-monochrome-white);
  --color-background-tertiary: var(--color-monochrome-085);
  --color-border-contrast: var(--color-monochrome-white);
  --color-border-default: var(--color-monochrome-025);
  --color-border-focused: var(--color-light-aqua-blue-400);
  --color-border-offer: var(--color-light-green-600);
  --color-border-selected: var(--color-light-brand-500);
  --color-content-brand: var(--color-light-brand-500);
  --color-content-contrast: var(--color-monochrome-white);
  --color-content-default: var(--color-monochrome-095);
  --color-content-disabled: var(--color-states-mono-disabled);
  --color-content-interactive-enabled: var(--color-monochrome-095);
  --color-content-interactive-hovered: var(--color-light-brand-600);
  --color-content-interactive-inverse: var(--color-monochrome-white);
  --color-content-interactive-pressed: var(--color-light-brand-700);
  --color-content-offer: var(--color-light-green-600);
  --color-content-subtle: var(--color-monochrome-085);
  --color-divider-contrast: var(--color-monochrome-white);
  --color-divider-default: var(--color-monochrome-010);
  --color-feedback-active: var(--color-monochrome-095);
  --color-feedback-alert: var(--color-light-yellow-200);
  --color-feedback-error: var(--color-light-red-600);
  --color-feedback-incomplete: var(--color-monochrome-025);
  --color-feedback-informative: var(--colour-blue-blue-500);
  --color-feedback-skeleton: var(--color-monochrome-025);
  --color-feedback-success: var(--color-light-green-600);
  --color-feedback-warning: var(--color-light-fresh-orange-400);
  --color-overlay-scrim: var(--opacity-monochrome-075);
  --color-states-black-disabled: var(--opacity-black-038);
  --color-states-black-hovered: var(--opacity-black-015);
  --color-states-black-pressed: var(--opacity-black-030);
  --color-states-mono-disabled: var(--opacity-monochrome-038);
  --color-states-mono-hovered: var(--opacity-monochrome-015);
  --color-states-mono-pressed: var(--opacity-monochrome-030);
  --color-states-white-disabled: var(--opacity-white-038);
  --color-states-white-hovered: var(--opacity-white-015);
  --color-states-white-pressed: var(--opacity-white-030);
  --color-surface-brand: var(--color-light-brand-500);
  --color-surface-bundle-bold: var(--color-light-aubergine-900);
  --color-surface-bundle-subtle: var(--color-light-red-violet-010);
  --color-surface-checked: var(--color-light-turquoise-600);
  --color-surface-contrast: var(--color-monochrome-white);
  --color-surface-focused: var(--color-light-aqua-blue-400);
  --color-surface-input: var(--color-monochrome-white);
  --color-surface-off: var(--color-monochrome-095);
  --color-surface-offer: var(--color-light-green-600);
  --color-surface-on: var(--color-light-turquoise-600);
  --color-surface-primary: var(--color-monochrome-white);
  --color-surface-secondary: var(--color-monochrome-005);
  --color-surface-tertiary: var(--color-monochrome-095);
  --color-surface-unchecked: var(--color-monochrome-white);
  /* numbers */
  --color-states-disabled: var(--opacity-038);
  --size-icon-400: var(--size-400);
  --size-icon-500: var(--size-500);
  --size-icon-600: var(--size-600);
  --size-icon-800: var(--size-800);
  --size-icon-1600: var(--size-1600);
  --size-icon-system-400: var(--size-400);
  --size-icon-system-500: var(--size-500);
  --size-icon-system-600: var(--size-600);
  --size-icon-system-800: var(--size-800);
  --size-logo-payment-500: var(--size-500);
  --size-logo-payment-600: var(--size-600);
  --size-logo-payment-800: var(--size-800);
  /* Dark */
  /* colors */
  --color-background-brand: var(--color-dark-brand-500);
  --color-background-primary: var(--color-monochrome-085);
  --color-background-secondary: var(--color-monochrome-095);
  --color-background-tertiary: var(--color-monochrome-095);
  --color-border-contrast: var(--color-monochrome-white);
  --color-border-default: var(--color-monochrome-005);
  --color-border-focused: var(--color-dark-cyan-300);
  --color-border-offer: var(--color-light-citron-300);
  --color-border-selected: var(--color-dark-brand-500);
  --color-content-brand: var(--color-dark-brand-500);
  --color-content-contrast: var(--color-monochrome-white);
  --color-content-default: var(--color-monochrome-white);
  --color-content-disabled: var(--color-states-white-disabled);
  --color-content-interactive-enabled: var(--color-monochrome-white);
  --color-content-interactive-hovered: var(--color-dark-brand-600);
  --color-content-interactive-inverse: var(--color-monochrome-white);
  --color-content-interactive-pressed: var(--color-dark-brand-700);
  --color-content-offer: var(--color-light-citron-300);
  --color-content-subtle: var(--color-monochrome-005);
  --color-divider-contrast: var(--color-monochrome-white);
  --color-divider-default: var(--color-monochrome-065);
  --color-feedback-active: var(--color-monochrome-white);
  --color-feedback-alert: var(--color-dark-yellow-200);
  --color-feedback-error: var(--color-dark-red-200);
  --color-feedback-incomplete: var(--color-monochrome-065);
  --color-feedback-informative: var(--color-dark-blue-100);
  --color-feedback-skeleton: var(--color-monochrome-085);
  --color-feedback-success: var(--color-light-citron-300);
  --color-feedback-warning: var(--color-dark-fresh-orange-200);
  --color-overlay-scrim: var(--opacity-monochrome-075);
  --color-states-black-disabled: var(--color-states-white-disabled);
  --color-states-black-hovered: var(--color-states-white-hovered);
  --color-states-black-pressed: var(--color-states-white-pressed);
  --color-states-mono-disabled: var(--color-states-white-disabled);
  --color-states-mono-hovered: var(--color-states-white-hovered);
  --color-states-mono-pressed: var(--color-states-white-pressed);
  --color-states-white-disabled: var(--opacity-white-038);
  --color-states-white-hovered: var(--opacity-white-015);
  --color-states-white-pressed: var(--opacity-white-030);
  --color-surface-brand: var(--color-dark-brand-500);
  --color-surface-bundle-bold: var(--color-dark-aubergine-300);
  --color-surface-bundle-subtle: #341e35;
  --color-surface-checked: var(--color-dark-aqua-blue-400);
  --color-surface-contrast: var(--color-monochrome-white);
  --color-surface-focused: var(--color-dark-cyan-300);
  --color-surface-input: var(--color-monochrome-095);
  --color-surface-off: var(--color-monochrome-white);
  --color-surface-offer: var(--color-light-citron-300);
  --color-surface-on: var(--color-dark-aqua-blue-400);
  --color-surface-primary: var(--color-monochrome-095);
  --color-surface-secondary: var(--color-monochrome-005);
  --color-surface-tertiary: var(--color-monochrome-095);
  --color-surface-unchecked: var(--color-monochrome-095);
  /* numbers */
  --color-states-disabled: var(--opacity-038);
  --size-icon-400: var(--size-400);
  --size-icon-500: var(--size-500);
  --size-icon-600: var(--size-600);
  --size-icon-800: var(--size-800);
  --size-icon-1600: var(--size-1600);
  --size-icon-system-400: var(--size-400);
  --size-icon-system-500: var(--size-500);
  --size-icon-system-600: var(--size-600);
  --size-icon-system-800: var(--size-800);
  --size-logo-payment-500: var(--size-500);
  --size-logo-payment-600: var(--size-600);
  --size-logo-payment-800: var(--size-800);
}
:root {
  /* Value */
  /* colors */
  --color-dark-aqua-blue-400: #0096ad;
  --color-dark-aubergine-300: #b04a98;
  --color-dark-blue-100: #5f9bc8;
  --color-dark-brand-500: #ec2f2f;
  --color-dark-brand-600: #c92828;
  --color-dark-brand-700: #a52121;
  --color-dark-cyan-300: #00b0ca;
  --color-dark-fresh-orange-200: #eb9700;
  --color-dark-green-600: #008a00;
  --color-dark-grey-600: #4a4d4e;
  --color-dark-red-200: #f06666;
  --color-dark-red-violet-300: #d162d5;
  --color-dark-red-violet-900: #341e35;
  --color-dark-slate-900: #25282b;
  --color-dark-yellow-200: #fecb00;
  --color-light-aqua-blue-400: #0096ad;
  --color-light-aubergine-900: #5e2750;
  --color-light-blue-500: #005ea5;
  --color-light-brand-500: #e60000;
  --color-light-brand-600: #c30000;
  --color-light-brand-700: #a10000;
  --color-light-citron-300: #b7bf10;
  --color-light-fresh-orange-400: #eb6100;
  --color-light-green-600: #008a00;
  --color-light-grey-600: #4a4d4e;
  --color-light-red-600: #bd0000;
  --color-light-red-violet-010: #f5eaf6;
  --color-light-red-violet-600: #9c2aa0;
  --color-light-slate-900: #25282b;
  --color-light-turquoise-600: #00697c;
  --color-light-yellow-200: #fecb00;
  --color-monochrome-005: #f2f2f2;
  --color-monochrome-010: #e5e5e5;
  --color-monochrome-015: #d9d9d9;
  --color-monochrome-025: #bebebe;
  --color-monochrome-030: #b3b3b3;
  --color-monochrome-065: #595959;
  --color-monochrome-080: #313131;
  --color-monochrome-085: #262626;
  --color-monochrome-095: #0d0d0d;
  --color-monochrome-500: #7e7e7e;
  --color-monochrome-black: #000000;
  --color-monochrome-white: #ffffff;
  --opacity-black-015: #00000026;
  --opacity-black-030: #0000004d;
  --opacity-black-038: #00000061;
  --opacity-black-075: #000000bf;
  --opacity-monochrome-015: #0d0d0d26;
  --opacity-monochrome-030: #0d0d0d4d;
  --opacity-monochrome-038: #0d0d0d61;
  --opacity-monochrome-075: #0d0d0dbf;
  --opacity-white-015: #ffffff26;
  --opacity-white-030: #ffffff4d;
  --opacity-white-038: #ffffff61;
  --opacity-white-075: #ffffffbf;
  /* numbers */
  --border-width-025: 1px;
  --border-width-050: 2px;
  --breakpoint-767: 767px;
  --breakpoint-768: 768px;
  --breakpoint-992: 992px;
  --breakpoint-1228: 1228px;
  --opacity-038: 38px;
  --radius-000: 0px;
  --radius-100: 4px;
  --radius-200: 8px;
  --radius-300: 12px;
  --radius-400: 16px;
  --radius-600: 24px;
  --radius-800: 32px;
  --radius-1000: 40px;
  --radius-rounded: 999px;
  --size-400: 16px;
  --size-500: 20px;
  --size-600: 24px;
  --size-800: 32px;
  --size-1000: 40px;
  --size-1200: 48px;
  --size-1600: 64px;
  --size-2000: 80px;
  --space-000: 0px;
  --space-050: 2px;
  --space-100: 4px;
  --space-200: 8px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 20px;
  --space-600: 24px;
  --space-800: 32px;
  --space-1000: 40px;
  --space-1200: 48px;
  --space-1600: 64px;
  --space-2000: 80px;
  --space-2400: 96px;
  --space-2800: 112px;
  --space-3200: 128px;
  --viewport-320: 320px;
  --viewport-360: 360px;
  --viewport-768: 768px;
  --viewport-992: 992px;
  --viewport-height-800: 800px;
  --viewport-height-1024: 1024px;
  --viewport-width-360: 360px;
  --viewport-width-768: 768px;
  --viewport-width-1440: 1440px;
}
:root {
  /* Light */
  /* colors */
  --button-primary-color-content-default: var(--color-monochrome-white);
  --button-primary-color-content-inverse: var(--color-monochrome-095);
  --button-primary-color-surface-enabled: var(--color-light-brand-500);
  --button-primary-color-surface-enabled-inverse: var(--color-monochrome-white);
  --button-primary-color-surface-hovered: var(--color-light-brand-600);
  --button-primary-color-surface-hovered-inverse: var(--color-monochrome-015);
  --button-primary-color-surface-pressed: var(--color-light-brand-700);
  --button-primary-color-surface-pressed-inverse: var(--color-monochrome-030);
  --button-secondary-color-content-default: var(--color-monochrome-white);
  --button-secondary-color-content-inverse: var(--color-monochrome-095);
  --button-secondary-color-surface-enabled: var(--color-monochrome-095);
  --button-secondary-color-surface-enabled-inverse: var(--color-monochrome-white);
  --button-secondary-color-surface-hovered: var(--color-monochrome-085);
  --button-secondary-color-surface-hovered-inverse: var(--color-monochrome-015);
  --button-secondary-color-surface-pressed: var(--color-monochrome-065);
  --button-secondary-color-surface-pressed-inverse: var(--color-monochrome-030);
  --button-tertiary-color-border-enabled: var(--color-monochrome-095);
  --button-tertiary-color-border-enabled-inverse: var(--color-monochrome-white);
  --button-tertiary-color-content-default: var(--color-monochrome-095);
  --button-tertiary-color-content-inverse: var(--color-monochrome-white);
  --button-tertiary-color-surface-hovered: var(--color-states-mono-hovered);
  --button-tertiary-color-surface-hovered-inverse: var(--color-states-white-hovered);
  --button-tertiary-color-surface-pressed: var(--color-states-mono-pressed);
  --button-tertiary-color-surface-pressed-inverse: var(--color-states-white-pressed);
  --link-primary-color-enabled: var(--color-light-brand-500);
  --link-primary-color-hovered: var(--color-light-brand-600);
  --link-primary-color-pressed: var(--color-light-brand-700);
  --link-secondary-color-enabled: var(--color-monochrome-095);
  --link-secondary-color-hovered: var(--color-light-brand-600);
  --link-secondary-color-pressed: var(--color-light-brand-700);
  --toggle-button-color-content-enabled: var(--color-monochrome-095);
  --toggle-button-color-content-selected: var(--color-monochrome-white);
  --toggle-button-color-surface-off: var(--color-monochrome-white);
  --toggle-button-color-surface-on: var(--color-monochrome-095);
  --tooltip-color-content-default: var(--color-monochrome-white);
  --tooltip-color-surface-default: var(--color-light-grey-600);
  /* numbers */
  --button-gap-default: var(--space-100);
  --button-padding-bottom: var(--space-300);
  --button-padding-top: var(--space-300);
  --button-padding-left: var(--space-600);
  --button-padding-right: var(--space-600);
  --button-radius-default: var(--radius-200);
  --card-radius-default: var(--radius-300);
  --checkbox-radius-default: var(--radius-100);
  --form-gap-default: var(--space-300);
  --form-padding-bottom: var(--space-300);
  --form-padding-top: var(--space-300);
  --form-padding-left: var(--space-400);
  --form-padding-right: var(--space-400);
  --form-radius-default: var(--radius-100);
  --modal-radius-default: var(--radius-800);
  /* Dark */
  /* colors */
  --button-primary-color-content-default: var(--color-monochrome-white);
  --button-primary-color-content-inverse: var(--color-monochrome-095);
  --button-primary-color-surface-enabled: var(--color-dark-brand-500);
  --button-primary-color-surface-enabled-inverse: var(--color-monochrome-white);
  --button-primary-color-surface-hovered: var(--color-dark-brand-600);
  --button-primary-color-surface-hovered-inverse: var(--color-monochrome-015);
  --button-primary-color-surface-pressed: var(--color-dark-brand-700);
  --button-primary-color-surface-pressed-inverse: var(--color-monochrome-030);
  --button-secondary-color-content-default: var(--color-monochrome-095);
  --button-secondary-color-content-inverse: var(--color-monochrome-095);
  --button-secondary-color-surface-enabled: var(--color-monochrome-white);
  --button-secondary-color-surface-enabled-inverse: var(--color-monochrome-white);
  --button-secondary-color-surface-hovered: var(--color-monochrome-015);
  --button-secondary-color-surface-hovered-inverse: var(--color-monochrome-015);
  --button-secondary-color-surface-pressed: var(--color-monochrome-030);
  --button-secondary-color-surface-pressed-inverse: var(--color-monochrome-030);
  --button-tertiary-color-border-enabled: var(--color-monochrome-white);
  --button-tertiary-color-border-enabled-inverse: var(--color-monochrome-white);
  --button-tertiary-color-content-default: var(--color-monochrome-white);
  --button-tertiary-color-content-inverse: var(--color-monochrome-white);
  --button-tertiary-color-surface-hovered: var(--color-states-white-hovered);
  --button-tertiary-color-surface-hovered-inverse: var(--color-states-white-hovered);
  --button-tertiary-color-surface-pressed: var(--color-states-white-pressed);
  --button-tertiary-color-surface-pressed-inverse: var(--color-states-white-pressed);
  --link-primary-color-enabled: var(--color-dark-brand-500);
  --link-primary-color-hovered: var(--color-dark-brand-600);
  --link-primary-color-pressed: var(--color-dark-brand-700);
  --link-secondary-color-enabled: var(--color-monochrome-white);
  --link-secondary-color-hovered: var(--color-dark-brand-600);
  --link-secondary-color-pressed: var(--color-dark-brand-700);
  --toggle-button-color-content-enabled: var(--color-monochrome-white);
  --toggle-button-color-content-selected: var(--color-monochrome-095);
  --toggle-button-color-surface-off: var(--color-monochrome-095);
  --toggle-button-color-surface-on: var(--color-monochrome-white);
  --tooltip-color-content-default: var(--color-monochrome-095);
  --tooltip-color-surface-default: var(--color-monochrome-005);
  /* numbers */
  --button-gap-default: var(--space-100);
  --button-padding-bottom: var(--space-300);
  --button-padding-top: var(--space-300);
  --button-padding-left: var(--space-600);
  --button-padding-right: var(--space-600);
  --button-radius-default: var(--radius-200);
  --card-radius-default: var(--radius-300);
  --checkbox-radius-default: var(--radius-100);
  --form-gap-default: var(--space-300);
  --form-padding-bottom: var(--space-300);
  --form-padding-top: var(--space-300);
  --form-padding-left: var(--space-400);
  --form-padding-right: var(--space-400);
  --form-radius-default: var(--radius-100);
  --modal-radius-default: var(--radius-800);
}
:root {
  /* Desktop */
  /* numbers */
  --screen-size: var(--viewport-width-1440);
  /* Tablet */
  /* numbers */
  --screen-size: var(--viewport-width-768);
  /* Mobile */
  /* numbers */
  --screen-size: var(--viewport-width-360);
}