:root {
  /* Light */
  /* colors */
  --color-background-brand: var(--color-light-brand-500);
  --color-background-primary: var(--color-monochrome-050);
  --color-background-secondary: var(--color-monochrome-white);
  --color-background-tertiary: var(--color-monochrome-850);
  --color-border-contrast: var(--color-monochrome-white);
  --color-border-default: var(--color-monochrome-250);
  --color-border-focus: var(--color-light-aqua-blue-400);
  --color-content-brand: var(--color-light-brand-500);
  --color-content-contrast: var(--color-monochrome-white);
  --color-content-default: var(--color-monochrome-950);
  --color-content-disabled: var(--color-states-disabled);
  --color-content-interactive: var(--color-monochrome-950);
  --color-content-interactive-hover: var(--color-light-brand-600);
  --color-content-interactive-inverse: var(--color-monochrome-white);
  --color-content-interactive-pressed: var(--color-light-brand-700);
  --color-content-subtle: var(--color-monochrome-850);
  --color-divider-contrast: var(--color-monochrome-white);
  --color-divider-default: var(--color-monochrome-250);
  --color-feedback-alert: var(--color-light-yellow-200);
  --color-feedback-error: var(--color-light-red-600);
  --color-feedback-incomplete: var(--color-monochrome-250);
  --color-feedback-informative: var(--colour-blue-blue-500);
  --color-feedback-skeleton: var(--color-monochrome-250);
  --color-feedback-success: var(--color-light-green-600);
  --color-feedback-warning: var(--color-light-fresh-orange-400);
  --color-states-disabled: var(--transparency-monochrome-380);
  --color-states-hover: var(--transparency-monochrome-150);
  --color-states-pressed: var(--transparency-monochrome-300);
  --color-states-black-disabled: var(--transparency-black-380);
  --color-states-black-hover: var(--transparency-black-150);
  --color-states-black-pressed: var(--transparency-black-300);
  --color-states-white-disabled: var(--transparency-white-380);
  --color-states-white-hover: var(--transparency-white-150);
  --color-states-white-pressed: var(--transparency-white-300);
  --color-surface-brand: var(--color-light-brand-500);
  --color-surface-checked: var(--color-light-turquoise-600);
  --color-surface-contrast: var(--color-monochrome-white);
  --color-surface-focus: var(--color-light-aqua-blue-400);
  --color-surface-input: var(--color-monochrome-white);
  --color-surface-input-disabled: var(--color-states-white-disabled);
  --color-surface-offer: var(--color-light-aubergine-900);
  --color-surface-primary: var(--color-monochrome-white);
  --color-surface-primary-disabled: var(--color-states-white-disabled);
  --color-surface-primary-hover: var(--color-states-hover);
  --color-surface-secondary: var(--color-monochrome-050);
  --color-surface-tertiary: var(--color-monochrome-950);
  --color-surface-unchecked: var(--color-monochrome-white);
  /* numbers */
  --icon-size-400: var(--sizing-400);
  --icon-size-500: var(--sizing-500);
  --icon-size-600: var(--sizing-600);
  --icon-size-800: var(--sizing-800);
  --icon-size-1600: var(--sizing-1600);
  /* Dark */
  /* colors */
  --color-background-brand: var(--color-dark-brand-500);
  --color-background-primary: var(--color-monochrome-850);
  --color-background-secondary: var(--color-monochrome-950);
  --color-background-tertiary: var(--color-monochrome-950);
  --color-border-contrast: var(--color-monochrome-white);
  --color-border-default: var(--color-monochrome-050);
  --color-border-focus: var(--color-dark-cyan-300);
  --color-content-brand: var(--color-dark-brand-500);
  --color-content-contrast: var(--color-monochrome-white);
  --color-content-default: var(--color-monochrome-white);
  --color-content-disabled: var(--color-states-white-disabled);
  --color-content-interactive: var(--color-monochrome-white);
  --color-content-interactive-hover: var(--color-dark-brand-600);
  --color-content-interactive-inverse: var(--color-monochrome-white);
  --color-content-interactive-pressed: var(--color-dark-brand-700);
  --color-content-subtle: var(--color-monochrome-050);
  --color-divider-contrast: var(--color-monochrome-white);
  --color-divider-default: var(--color-monochrome-950);
  --color-feedback-alert: var(--color-dark-yellow-200);
  --color-feedback-error: var(--color-dark-red-200);
  --color-feedback-incomplete: var(--color-monochrome-850);
  --color-feedback-informative: var(--color-dark-blue-100);
  --color-feedback-skeleton: var(--color-monochrome-850);
  --color-feedback-success: var(--color-light-citron-300);
  --color-feedback-warning: var(--color-dark-fresh-orange-200);
  --color-states-disabled: var(--color-states-white-disabled);
  --color-states-hover: var(--color-states-white-hover);
  --color-states-pressed: var(--color-states-white-pressed);
  --color-states-black-disabled: var(--color-states-white-disabled);
  --color-states-black-hover: var(--color-states-white-hover);
  --color-states-black-pressed: var(--color-states-white-pressed);
  --color-states-white-disabled: var(--transparency-white-380);
  --color-states-white-hover: var(--transparency-white-150);
  --color-states-white-pressed: var(--transparency-white-300);
  --color-surface-brand: var(--color-dark-brand-500);
  --color-surface-checked: var(--color-dark-aqua-blue-400);
  --color-surface-contrast: var(--color-monochrome-white);
  --color-surface-focus: var(--color-dark-cyan-300);
  --color-surface-input: var(--color-monochrome-950);
  --color-surface-input-disabled: var(--color-states-disabled);
  --color-surface-offer: var(--color-dark-aubergine-300);
  --color-surface-primary: var(--color-monochrome-950);
  --color-surface-primary-disabled: var(--color-states-white-disabled);
  --color-surface-primary-hover: var(--color-states-white-hover);
  --color-surface-secondary: var(--color-monochrome-050);
  --color-surface-tertiary: var(--color-monochrome-950);
  --color-surface-unchecked: var(--color-monochrome-950);
  /* numbers */
  --icon-size-400: var(--sizing-400);
  --icon-size-500: var(--sizing-500);
  --icon-size-600: var(--sizing-600);
  --icon-size-800: var(--sizing-800);
  --icon-size-1600: var(--sizing-1600);
}
:root {
  /* Value */
  /* colors */
  /**
    * @tokens Colors
    * @presenter Color
  */
  --color-dark-aqua-blue-400: #0096ad;
  --color-dark-aubergine-300: #b04a98;
  --color-dark-blue-100: #5f9bc8;
  --color-dark-brand-500: #ec2f2f;
  --color-dark-brand-600: #c92828;
  --color-dark-brand-700: #a52121;
  --color-dark-cyan-300: #00b0ca;
  --color-dark-fresh-orange-200: #eb9700;
  --color-dark-green-600: #008a00;
  --color-dark-grey-600: #4a4d4e;
  --color-dark-red-200: #f06666;
  --color-dark-red-violet-300: #d162d5;
  --color-dark-slate-900: #25282b;
  --color-dark-yellow-200: #fecb00;
  --color-light-aqua-blue-400: #0096ad;
  --color-light-aubergine-900: #5e2750;
  --color-light-blue-500: #005ea5;
  --color-light-brand-500: #e60000;
  --color-light-brand-600: #c30000;
  --color-light-brand-700: #a10000;
  --color-light-citron-300: #b7bf10;
  --color-light-fresh-orange-400: #eb6100;
  --color-light-green-600: #008a00;
  --color-light-grey-600: #4a4d4e;
  --color-light-red-600: #bd0000;
  --color-light-red-violet-600: #9c2aa0;
  --color-light-slate-900: #25282b;
  --color-light-turquoise-600: #00697c;
  --color-light-yellow-200: #fecb00;
  --color-monochrome-050: #f2f2f2;
  --color-monochrome-150: #d9d9d9;
  --color-monochrome-250: #bebebe;
  --color-monochrome-300: #b3b3b3;
  --color-monochrome-500: #7e7e7e;
  --color-monochrome-650: #595959;
  --color-monochrome-800: #313131;
  --color-monochrome-850: #262626;
  --color-monochrome-950: #0d0d0d;
  --color-monochrome-black: #000000;
  --color-monochrome-white: #ffffff;
  --transparency-black-150: #00000026;
  --transparency-black-300: #0000004d;
  --transparency-black-380: #00000061;
  --transparency-black-750: #000000bf;
  --transparency-monochrome-150: #0d0d0d26;
  --transparency-monochrome-300: #0d0d0d4d;
  --transparency-monochrome-380: #0d0d0d61;
  --transparency-monochrome-750: #0d0d0dbf;
  --transparency-white-150: #ffffff26;
  --transparency-white-300: #ffffff4d;
  --transparency-white-380: #ffffff61;
  --transparency-white-750: #ffffffbf;
  /* numbers */
  /**
  * @tokens Numbers
  */
  --radius-000: 0px;
  --radius-100: 4px;
  --radius-200: 8px;
  --radius-300: 12px;
  --radius-400: 16px;
  --radius-600: 24px;
  --radius-800: 32px;
  --radius-1000: 40px;
  --radius-rounded: 999px;
  --sizing-400: 16px;
  --sizing-500: 20px;
  --sizing-600: 24px;
  --sizing-800: 32px;
  --sizing-1000: 40px;
  --sizing-1200: 48px;
  --sizing-1600: 64px;
  --sizing-2000: 80px;
  --spacing-000: 0px;
  --spacing-100: 4px;
  --spacing-200: 8px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-500: 20px;
  --spacing-600: 24px;
  --spacing-800: 32px;
  --spacing-1000: 40px;
  --spacing-1200: 48px;
  --spacing-1600: 64px;
  --spacing-2000: 80px;
  --spacing-2400: 96px;
  --spacing-2800: 112px;
  --spacing-3200: 128px;
}
:root {
  /* Light */
  /* colors */
  /**
  * @tokens Others
  */
  --button-primary-color-content-default: var(--color-monochrome-white);
  --button-primary-color-content-inverse: var(--color-monochrome-950);
  --button-primary-color-surface-default: var(--color-light-brand-500);
  --button-primary-color-surface-hover: var(--color-light-brand-600);
  --button-primary-color-surface-hover-inverse: var(--color-monochrome-150);
  --button-primary-color-surface-inverse: var(--color-monochrome-white);
  --button-primary-color-surface-pressed: var(--color-light-brand-700);
  --button-primary-color-surface-pressed-inverse: var(--color-monochrome-300);
  --button-secondary-color-content-default: var(--color-monochrome-white);
  --button-secondary-color-content-inverse: var(--color-monochrome-950);
  --button-secondary-color-surface-default: var(--color-monochrome-950);
  --button-secondary-color-surface-hover: var(--color-monochrome-850);
  --button-secondary-color-surface-hover-inverse: var(--color-monochrome-150);
  --button-secondary-color-surface-inverse: var(--color-monochrome-white);
  --button-secondary-color-surface-pressed: var(--color-monochrome-650);
  --button-secondary-color-surface-pressed-inverse: var(--color-monochrome-300);
  --button-tertiary-color-border-default: var(--color-monochrome-950);
  --button-tertiary-color-border-inverse: var(--color-monochrome-white);
  --button-tertiary-color-content-default: var(--color-monochrome-950);
  --button-tertiary-color-content-inverse: var(--color-monochrome-white);
  --button-tertiary-color-surface-hover: var(--color-states-hover);
  --button-tertiary-color-surface-hover-inverse: var(--color-states-white-hover);
  --button-tertiary-color-surface-pressed: var(--color-states-pressed);
  --button-tertiary-color-surface-pressed-inverse: var(--color-states-white-pressed);
  /* numbers */
  --button-padding-gap: var(--spacing-100);
  --button-padding-bottom: var(--spacing-300);
  --button-padding-top: var(--spacing-300);
  --button-padding-left: var(--spacing-600);
  --button-padding-right: var(--spacing-600);
  --button-radius-default: var(--radius-200);
  --checkbox-radius-default: var(--radius-100);
  --form-padding-bottom: var(--spacing-300);
  --form-padding-gap: var(--spacing-300);
  --form-padding-top: var(--spacing-300);
  --form-padding-left: var(--spacing-400);
  --form-padding-right: var(--spacing-400);
  --form-radius-default: var(--radius-100);
  /* Dark */
  /* colors */
  --button-primary-color-content-default: var(--color-monochrome-white);
  --button-primary-color-content-inverse: var(--color-monochrome-950);
  --button-primary-color-surface-default: var(--color-dark-brand-500);
  --button-primary-color-surface-hover: var(--color-dark-brand-600);
  --button-primary-color-surface-hover-inverse: var(--color-monochrome-150);
  --button-primary-color-surface-inverse: var(--color-monochrome-white);
  --button-primary-color-surface-pressed: var(--color-dark-brand-700);
  --button-primary-color-surface-pressed-inverse: var(--color-monochrome-300);
  --button-secondary-color-content-default: var(--color-monochrome-950);
  --button-secondary-color-content-inverse: var(--color-monochrome-950);
  --button-secondary-color-surface-default: var(--color-monochrome-white);
  --button-secondary-color-surface-hover: var(--color-monochrome-150);
  --button-secondary-color-surface-hover-inverse: var(--color-monochrome-150);
  --button-secondary-color-surface-inverse: var(--color-monochrome-white);
  --button-secondary-color-surface-pressed: var(--color-monochrome-300);
  --button-secondary-color-surface-pressed-inverse: var(--color-monochrome-300);
  --button-tertiary-color-border-default: var(--color-monochrome-white);
  --button-tertiary-color-border-inverse: var(--color-monochrome-white);
  --button-tertiary-color-content-default: var(--color-monochrome-white);
  --button-tertiary-color-content-inverse: var(--color-monochrome-white);
  --button-tertiary-color-surface-hover: var(--color-states-white-hover);
  --button-tertiary-color-surface-hover-inverse: var(--color-states-white-hover);
  --button-tertiary-color-surface-pressed: var(--color-states-white-pressed);
  --button-tertiary-color-surface-pressed-inverse: var(--color-states-white-pressed);
  /* numbers */
  --button-padding-gap: var(--spacing-100);
  --button-padding-bottom: var(--spacing-300);
  --button-padding-top: var(--spacing-300);
  --button-padding-left: var(--spacing-600);
  --button-padding-right: var(--spacing-600);
  --button-radius-default: var(--radius-200);
  --checkbox-radius-default: var(--radius-100);
  --form-padding-bottom: var(--spacing-300);
  --form-padding-gap: var(--spacing-300);
  --form-padding-top: var(--spacing-300);
  --form-padding-left: var(--spacing-400);
  --form-padding-right: var(--spacing-400);
  --form-radius-default: var(--radius-100);
}


/**
OLD TOKEN FILE AS OF (23/11/12)
*/
/*
:root { */
    /**
    * @tokens Animations
    * @presenter Animation
    */
  
    /*--animation-rotate: rotate 1.2s infinite cubic-bezier(0.55, 0, 0.1, 1);*/
  
    /**
    * @tokens Colors
    * @presenter Color
    */

    /*--color-background-action-primary: #E60000;
    --color-background-action-primary-hover: #C60000;
    --color-background-action-primary-pressed: #A60000;
    --color-content-action-primary: #FFFFFF;*/

  
    /**
    * @tokens Others
    */

  /*}

  :root {
    --spacing-spacing-150: 12px;
    --spacing-spacing-200: 16px;
    --spacing-spacing-300: 24px;
  }*/
  