

:root {
    /**
    * @tokens Animations
    * @presenter Animation
    */
  
    --animation-rotate: rotate 1.2s infinite cubic-bezier(0.55, 0, 0.1, 1);
  
    /**
    * @tokens Colors
    * @presenter Color
    */

    --color-background-action-primary: #E60000;
    --color-background-action-primary-hover: #C60000;
    --color-background-action-primary-pressed: #A60000;
    --color-content-action-primary: #FFFFFF;

  
    /**
    * @tokens Others
    */

  }

  :root {
    --spacing-spacing-150: 12px;
    --spacing-spacing-200: 16px;
    --spacing-spacing-300: 24px;
  }