:root 
{--color-light-brand-500: #E60000;
  --color-light-brand-600: #C30000;
  --color-light-brand-700: #A10000;
  --color-light-grey-600: #4A4D4E;
  --color-light-slate-900: #25282B;
  --color-light-turquoise-600: #00697C;
  --color-light-blue-500: #005EA5;
  --color-light-fresh-orange-400: #EB6100;
  --color-light-citron-300: #B7BF10;
  --color-light-yellow-200: #FECB00;
  --color-light-green-600: #008A00;
  --color-light-red-violet-600: #9C2AA0;
  --color-light-aubergine-900: #5E2750;
  --color-light-red-600: #BD0000;
  --color-light-aqua-blue-400: #0096AD;
  --color-light-test-500: #E60000;
  --color-monochrome-150-undefined: #D9D9D9;
  --color-monochrome-250-undefined: #BEBEBE;
  --color-monochrome-300-undefined: #B3B3B3;
  --color-monochrome-500-undefined: #7E7E7E;
  --color-monochrome-650-undefined: #595959;
  --color-monochrome-800-undefined: #313131;
  --color-monochrome-850-undefined: #262626;
  --color-monochrome-950-undefined: #0D0D0D;
  --color-monochrome-050-undefined: #F2F2F2;
  --color-monochrome-white-undefined: #FFFFFF;
  --color-monochrome-black-undefined: #000000;
  --color-transparency-white-150: #FFFFFF26;
  --color-transparency-white-300: #FFFFFF4D;
  --color-transparency-white-380: #FFFFFF61;
  --color-transparency-white-750: #FFFFFFBF;
  --color-transparency-black-150: #00000026;
  --color-transparency-black-300: #0000004D;
  --color-transparency-black-380: #00000061;
  --color-transparency-black-750: #000000BF;
  --color-transparency-mono-150: #0D0D0D26;
  --color-transparency-mono-300: #0D0D0D4D;
  --color-transparency-mono-380: #0D0D0D61;
  --color-transparency-mono-750: #0D0D0DBF;
  --color-dark-brand-500: #EC2F2F;
  --color-dark-brand-600: #C92828;
  --color-dark-brand-700: #A52121;
  --color-dark-grey-600: #4A4D4E;
  --color-dark-slate-900: #25282B;
  --color-dark-aqua-blue-400: #0096AD;
  --color-dark-blue-100: #5F9BC8;
  --color-dark-fresh-orange-200: #EB9700;
  --color-dark-citron-300: #B7BF10;
  --color-dark-yellow-200: #FECB00;
  --color-dark-green-600: #008A00;
  --color-dark-red-violet-300: #D162D5;
  --color-dark-aubergine-300: #B04A98;
  --color-dark-red-200: #F06666;
  --color-dark-cyan-300: #00B0CA;
  --font-size-100-undefined-undefined: 4;
  --font-size-300-undefined-undefined: 12;
  --font-size-350-undefined-undefined: 14;
  --font-size-400-undefined-undefined: 16;
  --font-size-450-undefined-undefined: 18;
  --font-size-500-undefined-undefined: 20;
  --font-size-600-undefined-undefined: 24;
  --font-size-700-undefined-undefined: 28;
  --font-size-800-undefined-undefined: 32;
  --font-size-900-undefined-undefined: 36;
  --font-size-1000-undefined-undefined: 40;
  --font-size-1200-undefined-undefined: 48;
  --font-size-1400-undefined-undefined: 56;
  --font-size-1600-undefined-undefined: 64;
  --sizing-400-undefined-undefined: 16px;
  --sizing-500-undefined-undefined: 20px;
  --sizing-600-undefined-undefined: 24px;
  --sizing-800-undefined-undefined: 32px;
  --sizing-1000-undefined-undefined: 40px;
  --sizing-1200-undefined-undefined: 48px;
  --sizing-1600-undefined-undefined: 64px;
  --sizing-2000-undefined-undefined: 80px;
  --spacing-0-undefined-undefined: 0px;
  --spacing-100-undefined-undefined: 4px;
  --spacing-200-undefined-undefined: 8px;
  --spacing-300-undefined-undefined: 12px;
  --spacing-400-undefined-undefined: 16px;
  --spacing-500-undefined-undefined: 20px;
  --spacing-600-undefined-undefined: 24px;
  --spacing-800-undefined-undefined: 32px;
  --spacing-1000-undefined-undefined: 40px;
  --spacing-1200-undefined-undefined: 48px;
  --spacing-1600-undefined-undefined: 64px;
  --spacing-2000-undefined-undefined: 80px;
  --spacing-2400-undefined-undefined: 96px;
  --spacing-2800-undefined-undefined: 112px;
  --spacing-3200-undefined-undefined: 128px;
  --radius-0-undefined-undefined: 0px;
  --radius-100-undefined-undefined: 4px;
  --radius-200-undefined-undefined: 8px;
  --radius-300-undefined-undefined: 12px;
  --radius-400-undefined-undefined: 16px;
  --radius-600-undefined-undefined: 24px;
  --radius-800-undefined-undefined: 32px;
  --radius-1000-undefined-undefined: 40px;
  --radius-round-undefined-undefined: 1000px;
  --opacity-15-undefined-undefined: 15%;
  --opacity-30-undefined-undefined: 30%;
  --opacity-38-undefined-undefined: 38%;
  --opacity-75-undefined-undefined: 75%;
  --border-width-1-undefined-undefined: 1px;
  --border-width-2-undefined-undefined: 2px;
  --font-weight-vodafone-regular-undefined-undefined: Regular;
  --font-weight-vodafone-bold-undefined-undefined: Bold;
  --font-weight-vodafone-semibold-undefined-undefined: SemiBold;
  --font-weight-vodafone-medium-undefined-undefined: Medium;
  --font-weight-vodafone-book-undefined-undefined: Book;
  --font-weight-vodafone-light-undefined-undefined: Light;
  --font-weight-vodafone-extrabold-undefined-undefined: ExtraBold;
  --text-case-uppercase-undefined-undefined: uppercase;
  --text-case-none-undefined-undefined: none;
  --text-decoration-none-undefined-undefined: none;
  --text-decoration-underline-undefined-undefined: underline;
  --letter-spacing-0-undefined-undefined: 0;
  --paragraph-spacing-0-undefined-undefined: 0;
  --line-heights-400-undefined-undefined: 16;
  --line-heights-500-undefined-undefined: 20px;
  --line-heights-600-undefined-undefined: 24;
  --line-heights-700-undefined-undefined: 28;
  --line-heights-800-undefined-undefined: 32;
  --line-heights-900-undefined-undefined: 36;
  --line-heights-1000-undefined-undefined: 40;
  --line-heights-1100-undefined-undefined: 44;
  --line-heights-1200-undefined-undefined: 48;
  --line-heights-1400-undefined-undefined: 56;
  --line-heights-1600-undefined-undefined: 64;
  --line-heights-1800-undefined-undefined: 72;
  --paragraph-indent-0-undefined-undefined: 0px;
  --gradient-1-undefined-undefined: linear-gradient(45deg, #820000 0%, #e60000 100%);
  --gradient-2-undefined-undefined: linear-gradient(45deg, #222222 0%, #25282b 100%);
  --gradient-3-undefined-undefined: linear-gradient(45deg, #f4f4f4 0%, #fafafa 100%);
  --font-family-vodafone-undefined-undefined: Vodafone;
  --font-family-fallback-undefined-undefined: Arial;
  }
