:root {
  --button-primary-color-surface-default: #E60000;
  --button-primary-color-surface-inverse: #FFFFFF;
  --button-primary-color-surface-hover: #C30000;
  --button-primary-color-surface-hover-inverse: #D9D9D9;
  --button-primary-color-surface-pressed: #A10000;
  --button-primary-color-surface-pressed-inverse: #B3B3B3;
  --button-primary-color-content-default: #FFFFFF;
  --button-primary-color-content-inverse: #0D0D0D;
  --button-secondary-border-default-color: #0D0D0D;
  --button-secondary-border-default-width: 1px;
  --button-secondary-border-default-style: solid;
  --button-secondary-border-inverse-color: #FFFFFF;
  --button-secondary-border-inverse-width: 1px;
  --button-secondary-border-inverse-style: solid;
  --button-secondary-color-surface-hover: #0D0D0D26;
  --button-secondary-color-surface-hover-inverse: #FFFFFF26;
  --button-secondary-color-surface-pressed: #0D0D0D4D;
  --button-secondary-color-surface-pressed-inverse: #FFFFFF4D;
  --button-secondary-color-content-default: #0D0D0D;
  --button-secondary-color-content-inverse: #FFFFFF;
  --button-secondary-color-border-default: #0D0D0D;
  --button-secondary-color-border-inverse: #FFFFFF;
  --comp-large-display-link-label-fontFamily: Vodafone;
  --comp-large-display-link-label-fontWeight: Regular;
  --comp-large-display-link-label-lineHeight: 24;
  --comp-large-display-link-label-fontSize: 18;
  --comp-large-display-link-label-letterSpacing: 0;
  --comp-large-display-link-label-paragraphSpacing: 0;
  --comp-large-display-link-label-paragraphIndent: 0px;
  --comp-large-display-link-label-textCase: none;
  --comp-large-display-link-label-textDecoration: none;
  --comp-large-display-link-label-underline-fontFamily: Vodafone;
  --comp-large-display-link-label-underline-fontWeight: Regular;
  --comp-large-display-link-label-underline-lineHeight: 24;
  --comp-large-display-link-label-underline-fontSize: 18;
  --comp-large-display-link-label-underline-letterSpacing: 0;
  --comp-large-display-link-label-underline-paragraphSpacing: 0;
  --comp-large-display-link-label-underline-paragraphIndent: 0px;
  --comp-large-display-link-label-underline-textCase: none;
  --comp-large-display-link-label-underline-textDecoration: underline;
  --comp-large-display-button-label-fontFamily: Vodafone;
  --comp-large-display-button-label-fontWeight: SemiBold;
  --comp-large-display-button-label-lineHeight: 24;
  --comp-large-display-button-label-fontSize: 20;
  --comp-large-display-button-label-letterSpacing: 0;
  --comp-large-display-button-label-paragraphSpacing: 0;
  --comp-large-display-button-label-paragraphIndent: 0px;
  --comp-large-display-button-label-textCase: none;
  --comp-large-display-button-label-textDecoration: none;
  --comp-large-display-button-label-underline-fontFamily: Vodafone;
  --comp-large-display-button-label-underline-fontWeight: SemiBold;
  --comp-large-display-button-label-underline-lineHeight: 24;
  --comp-large-display-button-label-underline-fontSize: 20;
  --comp-large-display-button-label-underline-letterSpacing: 0;
  --comp-large-display-button-label-underline-paragraphSpacing: 0;
  --comp-large-display-button-label-underline-paragraphIndent: 0px;
  --comp-large-display-button-label-underline-textCase: none;
  --comp-large-display-button-label-underline-textDecoration: underline;
  --comp-large-display-form-fontFamily: Vodafone;
  --comp-large-display-form-fontWeight: Regular;
  --comp-large-display-form-lineHeight: 24;
  --comp-large-display-form-fontSize: 18;
  --comp-large-display-form-letterSpacing: 0;
  --comp-large-display-form-paragraphSpacing: 0;
  --comp-large-display-form-paragraphIndent: 0px;
  --comp-large-display-form-textCase: none;
  --comp-large-display-form-textDecoration: none;
  --comp-small-display-link-label-fontFamily: Vodafone;
  --comp-small-display-link-label-fontWeight: Regular;
  --comp-small-display-link-label-lineHeight: 20px;
  --comp-small-display-link-label-fontSize: 16;
  --comp-small-display-link-label-letterSpacing: 0;
  --comp-small-display-link-label-paragraphSpacing: 0;
  --comp-small-display-link-label-paragraphIndent: 0px;
  --comp-small-display-link-label-textCase: none;
  --comp-small-display-link-label-textDecoration: none;
  --comp-small-display-link-label-underline-fontFamily: Vodafone;
  --comp-small-display-link-label-underline-fontWeight: Regular;
  --comp-small-display-link-label-underline-lineHeight: 20px;
  --comp-small-display-link-label-underline-fontSize: 16;
  --comp-small-display-link-label-underline-letterSpacing: 0;
  --comp-small-display-link-label-underline-paragraphSpacing: 0;
  --comp-small-display-link-label-underline-paragraphIndent: 0px;
  --comp-small-display-link-label-underline-textCase: none;
  --comp-small-display-link-label-underline-textDecoration: underline;
  --comp-small-display-button-label-fontFamily: Vodafone;
  --comp-small-display-button-label-fontWeight: SemiBold;
  --comp-small-display-button-label-lineHeight: 20px;
  --comp-small-display-button-label-fontSize: 18;
  --comp-small-display-button-label-letterSpacing: 0;
  --comp-small-display-button-label-paragraphSpacing: 0;
  --comp-small-display-button-label-paragraphIndent: 0px;
  --comp-small-display-button-label-textCase: none;
  --comp-small-display-button-label-textDecoration: none;
  --comp-small-display-button-label-underline-fontFamily: Vodafone;
  --comp-small-display-button-label-underline-fontWeight: SemiBold;
  --comp-small-display-button-label-underline-lineHeight: 20px;
  --comp-small-display-button-label-underline-fontSize: 18;
  --comp-small-display-button-label-underline-letterSpacing: 0;
  --comp-small-display-button-label-underline-paragraphSpacing: 0;
  --comp-small-display-button-label-underline-paragraphIndent: 0px;
  --comp-small-display-button-label-underline-textCase: none;
  --comp-small-display-button-label-underline-textDecoration: underline;
  --comp-small-display-form-fontFamily: Vodafone;
  --comp-small-display-form-fontWeight: Regular;
  --comp-small-display-form-lineHeight: 20px;
  --comp-small-display-form-fontSize: 16;
  --comp-small-display-form-letterSpacing: 0;
  --comp-small-display-form-paragraphSpacing: 0;
  --comp-small-display-form-paragraphIndent: 0px;
  --comp-small-display-form-textCase: none;
  --comp-small-display-form-textDecoration: none;
  --comp-all-display-supportive-text-fontFamily: Vodafone;
  --comp-all-display-supportive-text-fontWeight: Regular;
  --comp-all-display-supportive-text-lineHeight: 16;
  --comp-all-display-supportive-text-fontSize: 14;
  --comp-all-display-supportive-text-letterSpacing: 0;
  --comp-all-display-supportive-text-paragraphSpacing: 0;
  --comp-all-display-supportive-text-paragraphIndent: 0px;
  --comp-all-display-supportive-text-textCase: none;
  --comp-all-display-supportive-text-textDecoration: none;
  --button-primary-container-default-undefined-minWidth: 150;
  --button-primary-container-default-undefined-fill: #E60000;
  --button-primary-container-default-undefined-paddingTop: 12px;
  --button-primary-container-default-undefined-paddingBottom: 12px;
  --button-primary-container-default-undefined-paddingLeft: 24px;
  --button-primary-container-default-undefined-paddingRight: 24px;
  --button-primary-container-default-undefined-borderRadius: 8px;
  --vf-global-color-light-brand-500: #E60000;
  --vf-global-color-light-brand-600: #C30000;
  --vf-global-color-light-brand-700: #A10000;
  --vf-global-color-light-grey-600: #4A4D4E;
  --vf-global-color-light-slate-900: #25282B;
  --vf-global-color-light-turquoise-600: #00697C;
  --vf-global-color-light-blue-500: #005EA5;
  --vf-global-color-light-fresh-orange-400: #EB6100;
  --vf-global-color-light-citron-300: #B7BF10;
  --vf-global-color-light-yellow-200: #FECB00;
  --vf-global-color-light-green-600: #008A00;
  --vf-global-color-light-red-violet-600: #9C2AA0;
  --vf-global-color-light-aubergine-900: #5E2750;
  --vf-global-color-light-red-600: #BD0000;
  --vf-global-color-light-aqua-blue-400: #0096AD;
  --vf-global-color-light-test-500: #E60000;
  --vf-global-color-monochrome-150: #D9D9D9;
  --vf-global-color-monochrome-250: #BEBEBE;
  --vf-global-color-monochrome-300: #B3B3B3;
  --vf-global-color-monochrome-500: #7E7E7E;
  --vf-global-color-monochrome-650: #595959;
  --vf-global-color-monochrome-800: #313131;
  --vf-global-color-monochrome-850: #262626;
  --vf-global-color-monochrome-950: #0D0D0D;
  --vf-global-color-monochrome-050: #F2F2F2;
  --vf-global-color-monochrome-white: #FFFFFF;
  --vf-global-color-monochrome-black: #000000;
  --vf-global-color-transparency-white-150: #FFFFFF26;
  --vf-global-color-transparency-white-300: #FFFFFF4D;
  --vf-global-color-transparency-white-380: #FFFFFF61;
  --vf-global-color-transparency-white-750: #FFFFFFBF;
  --vf-global-color-transparency-black-150: #00000026;
  --vf-global-color-transparency-black-300: #0000004D;
  --vf-global-color-transparency-black-380: #00000061;
  --vf-global-color-transparency-black-750: #000000BF;
  --vf-global-color-transparency-mono-150: #0D0D0D26;
  --vf-global-color-transparency-mono-300: #0D0D0D4D;
  --vf-global-color-transparency-mono-380: #0D0D0D61;
  --vf-global-color-transparency-mono-750: #0D0D0DBF;
  --vf-global-color-dark-brand-500: #EC2F2F;
  --vf-global-color-dark-brand-600: #C92828;
  --vf-global-color-dark-brand-700: #A52121;
  --vf-global-color-dark-grey-600: #4A4D4E;
  --vf-global-color-dark-slate-900: #25282B;
  --vf-global-color-dark-aqua-blue-400: #0096AD;
  --vf-global-color-dark-blue-100: #5F9BC8;
  --vf-global-color-dark-fresh-orange-200: #EB9700;
  --vf-global-color-dark-citron-300: #B7BF10;
  --vf-global-color-dark-yellow-200: #FECB00;
  --vf-global-color-dark-green-600: #008A00;
  --vf-global-color-dark-red-violet-300: #D162D5;
  --vf-global-color-dark-aubergine-300: #B04A98;
  --vf-global-color-dark-red-200: #F06666;
  --vf-global-color-dark-cyan-300: #00B0CA;
  --vf-global-font-size-100: 4;
  --vf-global-font-size-300: 12;
  --vf-global-font-size-350: 14;
  --vf-global-font-size-400: 16;
  --vf-global-font-size-450: 18;
  --vf-global-font-size-500: 20;
  --vf-global-font-size-600: 24;
  --vf-global-font-size-700: 28;
  --vf-global-font-size-800: 32;
  --vf-global-font-size-900: 36;
  --vf-global-font-size-1000: 40;
  --vf-global-font-size-1200: 48;
  --vf-global-font-size-1400: 56;
  --vf-global-font-size-1600: 64;
  --vf-global-sizing-400: 16px;
  --vf-global-sizing-500: 20px;
  --vf-global-sizing-600: 24px;
  --vf-global-sizing-800: 32px;
  --vf-global-sizing-1000: 40px;
  --vf-global-sizing-1200: 48px;
  --vf-global-sizing-1600: 64px;
  --vf-global-sizing-2000: 80px;
  --vf-global-spacing-0: 0px;
  --vf-global-spacing-100: 4px;
  --vf-global-spacing-200: 8px;
  --vf-global-spacing-300: 12px;
  --vf-global-spacing-400: 16px;
  --vf-global-spacing-500: 20px;
  --vf-global-spacing-600: 24px;
  --vf-global-spacing-800: 32px;
  --vf-global-spacing-1000: 40px;
  --vf-global-spacing-1200: 48px;
  --vf-global-spacing-1600: 64px;
  --vf-global-spacing-2000: 80px;
  --vf-global-spacing-2400: 96px;
  --vf-global-spacing-2800: 112px;
  --vf-global-spacing-3200: 128px;
  --vf-global-radius-0: 0px;
  --vf-global-radius-100: 4px;
  --vf-global-radius-200: 8px;
  --vf-global-radius-300: 12px;
  --vf-global-radius-400: 16px;
  --vf-global-radius-600: 24px;
  --vf-global-radius-800: 32px;
  --vf-global-radius-1000: 40px;
  --vf-global-radius-round: 1000px;
  --vf-global-opacity-15: 15%;
  --vf-global-opacity-30: 30%;
  --vf-global-opacity-38: 38%;
  --vf-global-opacity-75: 75%;
  --vf-global-border-width-1: 1px;
  --vf-global-border-width-2: 2px;
  --vf-global-text-case-uppercase: uppercase;
  --vf-global-text-case-none: none;
  --vf-global-text-decoration-none: none;
  --vf-global-text-decoration-underline: underline;
  --vf-global-letter-spacing-0: 0;
  --vf-global-paragraph-spacing-0: 0;
  --vf-global-line-heights-400: 16;
  --vf-global-line-heights-500: 20px;
  --vf-global-line-heights-600: 24;
  --vf-global-line-heights-700: 28;
  --vf-global-line-heights-800: 32;
  --vf-global-line-heights-900: 36;
  --vf-global-line-heights-1000: 40;
  --vf-global-line-heights-1100: 44;
  --vf-global-line-heights-1200: 48;
  --vf-global-line-heights-1400: 56;
  --vf-global-line-heights-1600: 64;
  --vf-global-line-heights-1800: 72;
  --vf-global-paragraph-indent-0-paragraphIndent: 0px;
  --vf-global-gradient-1: linear-gradient(45deg, #820000 0%, #e60000 100%);
  --vf-global-gradient-2: linear-gradient(45deg, #222222 0%, #25282b 100%);
  --vf-global-gradient-3: linear-gradient(45deg, #f4f4f4 0%, #fafafa 100%);
  --vf-global-font-family-vodafone: Vodafone;
  --vf-global-font-family-fallback: Arial;
  --vf-global-font-weight-vodafone-regular: Regular;
  --vf-global-font-weight-vodafone-bold: Bold;
  --vf-global-font-weight-vodafone-semibold: SemiBold;
  --vf-global-font-weight-vodafone-medium: Medium;
  --vf-global-font-weight-vodafone-book: Book;
  --vf-global-font-weight-vodafone-light: Light;
  --vf-global-font-weight-vodafone-extrabold: ExtraBold;
  --color-content-brand: #E60000;
  --color-content-default: #0D0D0D;
  --color-content-subtle: #262626;
  --color-content-contrast: #FFFFFF;
  --color-content-disabled: #00000061;
  --color-content-interactive: #E60000;
  --color-content-interactive-hover: #C30000;
  --color-content-interactive-pressed: #A10000;
  --color-background-brand: #E60000;
  --color-background-natural-1: #F2F2F2;
  --color-background-natural-2: #FFFFFF;
  --color-background-natural-3: #0D0D0D;
  --color-surface-brand: #E60000;
  --color-surface-neutral-1: #FFFFFF;
  --color-surface-neutral-1-hover: #00000026;
  --color-surface-neutral-2: #F2F2F2;
  --color-surface-neutral-3: #0D0D0D;
  --color-surface-offer: #5E2750;
  --color-surface-form: #FFFFFF;
  --color-surface-form-disabled: #FFFFFF61;
  --color-surface-unchecked: #FFFFFF;
  --color-surface-checked: #00697C;
  --color-surface-checked-disabled: #00000061;
  --color-border-focus: #0096AD;
  --color-border-contrast: #FFFFFF;
  --color-border-default: #BEBEBE;
  --color-border-inverse: #FFFFFF;
  --color-divider-default: #BEBEBE;
  --color-feedback-error: #BD0000;
  --color-feedback-warning: #EB6100;
  --color-feedback-alert: #FECB00;
  --color-feedback-success: #008A00;
  --color-feedback-informative: #005EA5;
  --color-feedback-incomplete: #BEBEBE;
  --color-feedback-skeleton: #BEBEBE;
  --color-states-black-hover: #00000026;
  --color-states-black-pressed: #0000004D;
  --color-states-black-disabled: #00000061;
  --color-states-white-hover: #FFFFFF26;
  --color-states-white-pressed: #FFFFFF4D;
  --color-states-white-disabled: #FFFFFF61;
  --color-states-mono-hover: #0D0D0D26;
  --color-states-mono-pressed: #0D0D0D4D;
  --color-states-mono-disabled: #0D0D0D61;
  --border-default-undefined-color: #BEBEBE;
  --border-default-undefined-width: 1px;
  --border-default-undefined-style: solid;
  --border-focus-undefined-color: #0096AD;
  --border-focus-undefined-width: 2px;
  --border-focus-undefined-style: solid;
  --border-error-undefined-color: #BD0000;
  --border-error-undefined-width: 2px;
  --border-error-undefined-style: solid;
  --border-inverse-undefined-color: #FFFFFF;
  --border-inverse-undefined-width: 2px;
  --border-inverse-undefined-style: solid;
  --heading-small-display-H1-fontFamily: Vodafone;
  --heading-small-display-H1-fontWeight: SemiBold;
  --heading-small-display-H1-lineHeight: 40;
  --heading-small-display-H1-fontSize: 32;
  --heading-small-display-H1-letterSpacing: 0;
  --heading-small-display-H1-paragraphSpacing: 0;
  --heading-small-display-H1-paragraphIndent: 0px;
  --heading-small-display-H1-textCase: none;
  --heading-small-display-H1-textDecoration: none;
  --heading-small-display-H1-copy-fontFamily: Vodafone;
  --heading-small-display-H1-copy-fontWeight: SemiBold;
  --heading-small-display-H1-copy-lineHeight: 40;
  --heading-small-display-H1-copy-fontSize: 32;
  --heading-small-display-H1-copy-letterSpacing: 0;
  --heading-small-display-H1-copy-paragraphSpacing: 0;
  --heading-small-display-H1-copy-paragraphIndent: 0px;
  --heading-small-display-H1-copy-textCase: none;
  --heading-small-display-H1-copy-textDecoration: none;
  --heading-small-display-H2-fontFamily: Vodafone;
  --heading-small-display-H2-fontWeight: Book;
  --heading-small-display-H2-lineHeight: 36;
  --heading-small-display-H2-fontSize: 28;
  --heading-small-display-H2-letterSpacing: 0;
  --heading-small-display-H2-paragraphSpacing: 0;
  --heading-small-display-H2-paragraphIndent: 0px;
  --heading-small-display-H2-textCase: none;
  --heading-small-display-H2-textDecoration: none;
  --heading-small-display-H3-fontFamily: Vodafone;
  --heading-small-display-H3-fontWeight: Medium;
  --heading-small-display-H3-lineHeight: 32;
  --heading-small-display-H3-fontSize: 24;
  --heading-small-display-H3-letterSpacing: 0;
  --heading-small-display-H3-paragraphSpacing: 0;
  --heading-small-display-H3-paragraphIndent: 0px;
  --heading-small-display-H3-textCase: none;
  --heading-small-display-H3-textDecoration: none;
  --heading-small-display-H4-fontFamily: Vodafone;
  --heading-small-display-H4-fontWeight: Regular;
  --heading-small-display-H4-lineHeight: 28;
  --heading-small-display-H4-fontSize: 20;
  --heading-small-display-H4-letterSpacing: 0;
  --heading-small-display-H4-paragraphSpacing: 0;
  --heading-small-display-H4-paragraphIndent: 0px;
  --heading-small-display-H4-textCase: none;
  --heading-small-display-H4-textDecoration: none;
  --heading-small-display-H4-strong-fontFamily: Vodafone;
  --heading-small-display-H4-strong-fontWeight: Bold;
  --heading-small-display-H4-strong-lineHeight: 28;
  --heading-small-display-H4-strong-fontSize: 20;
  --heading-small-display-H4-strong-letterSpacing: 0;
  --heading-small-display-H4-strong-paragraphSpacing: 0;
  --heading-small-display-H4-strong-paragraphIndent: 0px;
  --heading-small-display-H4-strong-textCase: none;
  --heading-small-display-H4-strong-textDecoration: none;
  --heading-small-display-H5-fontFamily: Vodafone;
  --heading-small-display-H5-fontWeight: Regular;
  --heading-small-display-H5-lineHeight: 24;
  --heading-small-display-H5-fontSize: 18;
  --heading-small-display-H5-letterSpacing: 0;
  --heading-small-display-H5-paragraphSpacing: 0;
  --heading-small-display-H5-paragraphIndent: 0px;
  --heading-small-display-H5-textCase: none;
  --heading-small-display-H5-textDecoration: none;
  --heading-small-display-H5-strong-fontFamily: Vodafone;
  --heading-small-display-H5-strong-fontWeight: Bold;
  --heading-small-display-H5-strong-lineHeight: 24;
  --heading-small-display-H5-strong-fontSize: 18;
  --heading-small-display-H5-strong-letterSpacing: 0;
  --heading-small-display-H5-strong-paragraphSpacing: 0;
  --heading-small-display-H5-strong-paragraphIndent: 0px;
  --heading-small-display-H5-strong-textCase: none;
  --heading-small-display-H5-strong-textDecoration: none;
  --heading-medium-display-H1-fontFamily: Vodafone;
  --heading-medium-display-H1-fontWeight: SemiBold;
  --heading-medium-display-H1-lineHeight: 64;
  --heading-medium-display-H1-fontSize: 56;
  --heading-medium-display-H1-letterSpacing: 0;
  --heading-medium-display-H1-paragraphSpacing: 0;
  --heading-medium-display-H1-paragraphIndent: 0px;
  --heading-medium-display-H1-textCase: none;
  --heading-medium-display-H1-textDecoration: none;
  --heading-medium-display-H2-fontFamily: Vodafone;
  --heading-medium-display-H2-fontWeight: Book;
  --heading-medium-display-H2-lineHeight: 48;
  --heading-medium-display-H2-fontSize: 40;
  --heading-medium-display-H2-letterSpacing: 0;
  --heading-medium-display-H2-paragraphSpacing: 0;
  --heading-medium-display-H2-paragraphIndent: 0px;
  --heading-medium-display-H2-textCase: none;
  --heading-medium-display-H2-textDecoration: none;
  --heading-medium-display-H3-fontFamily: Vodafone;
  --heading-medium-display-H3-fontWeight: Medium;
  --heading-medium-display-H3-lineHeight: 40;
  --heading-medium-display-H3-fontSize: 32;
  --heading-medium-display-H3-letterSpacing: 0;
  --heading-medium-display-H3-paragraphSpacing: 0;
  --heading-medium-display-H3-paragraphIndent: 0px;
  --heading-medium-display-H3-textCase: none;
  --heading-medium-display-H3-textDecoration: none;
  --heading-medium-display-H4-fontFamily: Vodafone;
  --heading-medium-display-H4-fontWeight: Regular;
  --heading-medium-display-H4-lineHeight: 32;
  --heading-medium-display-H4-fontSize: 24;
  --heading-medium-display-H4-letterSpacing: 0;
  --heading-medium-display-H4-paragraphSpacing: 0;
  --heading-medium-display-H4-paragraphIndent: 0px;
  --heading-medium-display-H4-textCase: none;
  --heading-medium-display-H4-textDecoration: none;
  --heading-medium-display-H4-strong-fontFamily: Vodafone;
  --heading-medium-display-H4-strong-fontWeight: Bold;
  --heading-medium-display-H4-strong-lineHeight: 32;
  --heading-medium-display-H4-strong-fontSize: 24;
  --heading-medium-display-H4-strong-letterSpacing: 0;
  --heading-medium-display-H4-strong-paragraphSpacing: 0;
  --heading-medium-display-H4-strong-paragraphIndent: 0px;
  --heading-medium-display-H4-strong-textCase: none;
  --heading-medium-display-H4-strong-textDecoration: none;
  --heading-medium-display-H5-fontFamily: Vodafone;
  --heading-medium-display-H5-fontWeight: Regular;
  --heading-medium-display-H5-lineHeight: 28;
  --heading-medium-display-H5-fontSize: 20;
  --heading-medium-display-H5-letterSpacing: 0;
  --heading-medium-display-H5-paragraphSpacing: 0;
  --heading-medium-display-H5-paragraphIndent: 0px;
  --heading-medium-display-H5-textCase: none;
  --heading-medium-display-H5-textDecoration: none;
  --heading-medium-display-H5-strong-fontFamily: Vodafone;
  --heading-medium-display-H5-strong-fontWeight: Bold;
  --heading-medium-display-H5-strong-lineHeight: 28;
  --heading-medium-display-H5-strong-fontSize: 20;
  --heading-medium-display-H5-strong-letterSpacing: 0;
  --heading-medium-display-H5-strong-paragraphSpacing: 0;
  --heading-medium-display-H5-strong-paragraphIndent: 0px;
  --heading-medium-display-H5-strong-textCase: none;
  --heading-medium-display-H5-strong-textDecoration: none;
  --heading-large-display-H1-fontFamily: Vodafone;
  --heading-large-display-H1-fontWeight: SemiBold;
  --heading-large-display-H1-lineHeight: 72;
  --heading-large-display-H1-fontSize: 64;
  --heading-large-display-H1-letterSpacing: 0;
  --heading-large-display-H1-paragraphSpacing: 0;
  --heading-large-display-H1-paragraphIndent: 0px;
  --heading-large-display-H1-textCase: none;
  --heading-large-display-H1-textDecoration: none;
  --heading-large-display-H2-fontFamily: Vodafone;
  --heading-large-display-H2-fontWeight: Book;
  --heading-large-display-H2-lineHeight: 64;
  --heading-large-display-H2-fontSize: 56;
  --heading-large-display-H2-letterSpacing: 0;
  --heading-large-display-H2-paragraphSpacing: 0;
  --heading-large-display-H2-paragraphIndent: 0px;
  --heading-large-display-H2-textCase: none;
  --heading-large-display-H2-textDecoration: none;
  --heading-large-display-H3-fontFamily: Vodafone;
  --heading-large-display-H3-fontWeight: Medium;
  --heading-large-display-H3-lineHeight: 44;
  --heading-large-display-H3-fontSize: 36;
  --heading-large-display-H3-letterSpacing: 0;
  --heading-large-display-H3-paragraphSpacing: 0;
  --heading-large-display-H3-paragraphIndent: 0px;
  --heading-large-display-H3-textCase: none;
  --heading-large-display-H3-textDecoration: none;
  --heading-large-display-H4-fontFamily: Vodafone;
  --heading-large-display-H4-fontWeight: Regular;
  --heading-large-display-H4-lineHeight: 32;
  --heading-large-display-H4-fontSize: 28;
  --heading-large-display-H4-letterSpacing: 0;
  --heading-large-display-H4-paragraphSpacing: 0;
  --heading-large-display-H4-paragraphIndent: 0px;
  --heading-large-display-H4-textCase: none;
  --heading-large-display-H4-textDecoration: none;
  --heading-large-display-H4-strong-fontFamily: Vodafone;
  --heading-large-display-H4-strong-fontWeight: Bold;
  --heading-large-display-H4-strong-lineHeight: 32;
  --heading-large-display-H4-strong-fontSize: 28;
  --heading-large-display-H4-strong-letterSpacing: 0;
  --heading-large-display-H4-strong-paragraphSpacing: 0;
  --heading-large-display-H4-strong-paragraphIndent: 0px;
  --heading-large-display-H4-strong-textCase: none;
  --heading-large-display-H4-strong-textDecoration: none;
  --heading-large-display-H5-fontFamily: Vodafone;
  --heading-large-display-H5-fontWeight: Regular;
  --heading-large-display-H5-lineHeight: 28;
  --heading-large-display-H5-fontSize: 20;
  --heading-large-display-H5-letterSpacing: 0;
  --heading-large-display-H5-paragraphSpacing: 0;
  --heading-large-display-H5-paragraphIndent: 0px;
  --heading-large-display-H5-textCase: none;
  --heading-large-display-H5-textDecoration: none;
  --heading-large-display-H5-strong-fontFamily: Vodafone;
  --heading-large-display-H5-strong-fontWeight: Bold;
  --heading-large-display-H5-strong-lineHeight: 28;
  --heading-large-display-H5-strong-fontSize: 20;
  --heading-large-display-H5-strong-letterSpacing: 0;
  --heading-large-display-H5-strong-paragraphSpacing: 0;
  --heading-large-display-H5-strong-paragraphIndent: 0px;
  --heading-large-display-H5-strong-textCase: none;
  --heading-large-display-H5-strong-textDecoration: none;
  --paragraph-all-display-body1-fontFamily: Vodafone;
  --paragraph-all-display-body1-fontWeight: Regular;
  --paragraph-all-display-body1-lineHeight: 24;
  --paragraph-all-display-body1-fontSize: 18;
  --paragraph-all-display-body1-letterSpacing: 0;
  --paragraph-all-display-body1-paragraphSpacing: 0;
  --paragraph-all-display-body1-paragraphIndent: 0px;
  --paragraph-all-display-body1-textCase: none;
  --paragraph-all-display-body1-textDecoration: none;
  --paragraph-all-display-body1-strong-fontFamily: Vodafone;
  --paragraph-all-display-body1-strong-fontWeight: Bold;
  --paragraph-all-display-body1-strong-lineHeight: 24;
  --paragraph-all-display-body1-strong-fontSize: 18;
  --paragraph-all-display-body1-strong-letterSpacing: 0;
  --paragraph-all-display-body1-strong-paragraphSpacing: 0;
  --paragraph-all-display-body1-strong-paragraphIndent: 0px;
  --paragraph-all-display-body1-strong-textCase: none;
  --paragraph-all-display-body1-strong-textDecoration: none;
  --paragraph-all-display-body2-fontFamily: Vodafone;
  --paragraph-all-display-body2-fontWeight: Regular;
  --paragraph-all-display-body2-lineHeight: 24;
  --paragraph-all-display-body2-fontSize: 16;
  --paragraph-all-display-body2-letterSpacing: 0;
  --paragraph-all-display-body2-paragraphSpacing: 0;
  --paragraph-all-display-body2-paragraphIndent: 0px;
  --paragraph-all-display-body2-textCase: none;
  --paragraph-all-display-body2-textDecoration: none;
  --paragraph-all-display-body2-underline-fontFamily: Vodafone;
  --paragraph-all-display-body2-underline-fontWeight: Regular;
  --paragraph-all-display-body2-underline-lineHeight: 24;
  --paragraph-all-display-body2-underline-fontSize: 16;
  --paragraph-all-display-body2-underline-letterSpacing: 0;
  --paragraph-all-display-body2-underline-paragraphSpacing: 0;
  --paragraph-all-display-body2-underline-paragraphIndent: 0px;
  --paragraph-all-display-body2-underline-textCase: none;
  --paragraph-all-display-body2-underline-textDecoration: underline;
  --paragraph-all-display-body2-strong-fontFamily: Vodafone;
  --paragraph-all-display-body2-strong-fontWeight: Bold;
  --paragraph-all-display-body2-strong-lineHeight: 24;
  --paragraph-all-display-body2-strong-fontSize: 16;
  --paragraph-all-display-body2-strong-letterSpacing: 0;
  --paragraph-all-display-body2-strong-paragraphSpacing: 0;
  --paragraph-all-display-body2-strong-paragraphIndent: 0px;
  --paragraph-all-display-body2-strong-textCase: none;
  --paragraph-all-display-body2-strong-textDecoration: none;
  --paragraph-all-display-body3-fontFamily: Vodafone;
  --paragraph-all-display-body3-fontWeight: Regular;
  --paragraph-all-display-body3-lineHeight: 20px;
  --paragraph-all-display-body3-fontSize: 14;
  --paragraph-all-display-body3-letterSpacing: 0;
  --paragraph-all-display-body3-paragraphSpacing: 0;
  --paragraph-all-display-body3-paragraphIndent: 0px;
  --paragraph-all-display-body3-textCase: none;
  --paragraph-all-display-body3-textDecoration: none;
  --paragraph-all-display-body3-underline-fontFamily: Vodafone;
  --paragraph-all-display-body3-underline-fontWeight: Regular;
  --paragraph-all-display-body3-underline-lineHeight: 20px;
  --paragraph-all-display-body3-underline-fontSize: 14;
  --paragraph-all-display-body3-underline-letterSpacing: 0;
  --paragraph-all-display-body3-underline-paragraphSpacing: 0;
  --paragraph-all-display-body3-underline-paragraphIndent: 0px;
  --paragraph-all-display-body3-underline-textCase: none;
  --paragraph-all-display-body3-underline-textDecoration: underline;
  --paragraph-all-display-body3-strong-fontFamily: Vodafone;
  --paragraph-all-display-body3-strong-fontWeight: Bold;
  --paragraph-all-display-body3-strong-lineHeight: 20px;
  --paragraph-all-display-body3-strong-fontSize: 14;
  --paragraph-all-display-body3-strong-letterSpacing: 0;
  --paragraph-all-display-body3-strong-paragraphSpacing: 0;
  --paragraph-all-display-body3-strong-paragraphIndent: 0px;
  --paragraph-all-display-body3-strong-textCase: none;
  --paragraph-all-display-body3-strong-textDecoration: none;
  --paragraph-all-display-caption-fontFamily: Vodafone;
  --paragraph-all-display-caption-fontWeight: Regular;
  --paragraph-all-display-caption-lineHeight: 16;
  --paragraph-all-display-caption-fontSize: 12;
  --paragraph-all-display-caption-letterSpacing: 0;
  --paragraph-all-display-caption-paragraphSpacing: 0;
  --paragraph-all-display-caption-paragraphIndent: 0px;
  --paragraph-all-display-caption-textCase: none;
  --paragraph-all-display-caption-textDecoration: none;
  --states-disabled-undefined: 38%;
  --states-hover-undefined: 15%;
  --states-pressed-undefined: 30%;
  --button-padding-top: 12px;
  --button-padding-bottom: 12px;
  --button-padding-left: 24px;
  --button-padding-right: 24px;
  --button-padding-gap: 4px;
  --button-radius-default: 8px;
  --input-padding-top: 12px;
  --input-padding-bottom: 12px;
  --input-padding-left: 16px;
  --input-padding-right: 16px;
  --input-padding-gap: 12px;
  --input-radius-default: 4px;
  --checkbox-radius-default: 4px;
  }
